.tab-lang {
	display: none;
}
.tab-lang.active {
	display: block;
}
.lang ul {
	margin: 20px 0;
	display: block;
}
.lang ul li {
	display: inline-block;
	vertical-align: top;
	text-transform: uppercase;
	margin: 0 5px 0 0;
	
}
.lang ul li a {
	color: #fff;
}
.lang ul li.active a {
	color: #201e34;
}
.tab-lang.kz .tab-content .b-contact li label span {
	min-width: 275px; 
}

.contact textarea {
	width: 100%;
	outline: none;
	height: 60px;
	resize: none;
}
.wrapper-content {
	margin-left: -20px;
	margin-top: -20px;
	padding-left: 20px;
	background: #25A7D8;
	height: 100%;
	min-height: 100vh;
}
.wrapper-content h2 {
	margin: 20px 0 30px !important;
	color: #fff;
}
.wrapp-content {
	display: flex;
	min-height: 200px;
}
.left-block, .right-block {
	height: 100%;
	float: left;
}
.left-block {
	width: 20%;

}
.left-block ul {
	padding: 0;
	margin: 0;
	list-style: none;
}
.left-block ul li {
	font-size: 16px;
	color: #fff;
	background-color: rgba(255, 255, 255,0.4);
	padding: 20px 10px;
	margin: 0;
	cursor: pointer;
	position: relative;
	z-index: 1;
	border-bottom: 1px solid #058795;
    -webkit-transition: all .4s;
    -moz-transition: all .4s;
    -o-transition: all .4s;
    transition: all .4s;
}
.left-block ul li:before {
	content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0;
    background-color: rgba(255, 255, 255,0.5);
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
    -webkit-transform: scale(0.5, 1);
    transform: scale(0.5, 1);
}
.left-block ul li:hover:before {
	background-color: rgba(37, 167, 216,0.5);
    opacity: 1;
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
}

.left-block ul li.active {
	background: #201e34;
}
.left-block ul li.active:hover:before {
	background-color: transparent;
}
.left-block ul li.active:before {
	background-color: transparent;
}
.right-block {
	width: 80%;
}
.bottom { 
	display: inline-block;
	vertical-align: top;
	width: 100%;
	margin: 20px 0 0;
}
.wrapper-content form button {
	outline: none;
	border: none;
	color: #fff;
	font-size: 16px;
	padding: 10px; 
	width: 120px;
	cursor: pointer;
	position: relative;
	overflow: hidden;
	    -webkit-transition: all .4s;
    -moz-transition: all .4s;
    -o-transition: all .4s;
    transition: all .4s;
}
.wrapper-content form button:hover, .wrapper-content form button:active {
	background: rgba(32,30,52,.4);
}

.wrapper-content form button:before, .wrapper-content form button:after {
    content: attr(data-text);
    position: absolute;
    width: 100%;
    height: 50%;
    left: 0;
	background: #201e34;
    color: #fff;
    overflow: hidden;
    -webkit-transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
    transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}
.wrapper-content form button::before {
    top: 0;
    padding-top: 10px;
}
.wrapper-content form button::after {
    bottom: 0;
    line-height: 0; 
}
.wrapper-content form button:hover::before {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
}
.wrapper-content form button:hover::after {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
}
.wrapper-content form button:hover > span {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
}
.wrapper-content form button > span {
    display: block;
    -webkit-transform: scale3d(0.2, 0.2, 1);
    transform: scale3d(0.2, 0.2, 1);
    opacity: 0;
    -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
    transition: transform 0.3s, opacity 0.3s;
    -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
    transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}
.tab-content ul {
	padding: 0;
	margin: 0;
	list-style: none; 
}
.tab-content ul li span {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    padding-left: 25px;
    font-size: 16px;
    min-width: 60px;
    color: #fff;
}
.b-contacts__list li.phone span:before {
	content: '\f095';
}
.b-contacts__list li.address span:before {
	content: '\f015';
}
.b-contacts__list li.fax span:before {
	content: '\f1ac';
}
.b-contacts__list li span:before {
	position: absolute;
	left: 0;
	top: 0;
	font-family: 'FontAwesome';
    font-size: 17px;
    line-height: 19px;
	color: #201e34;
}
.tab-content ul li input, .tab-content ul li textarea {
	display: inline-block;
	vertical-align: middle;
	width: 50%;
	height: 30px;
	margin: 0;
	padding: 0 5px;
	outline: none;
	border: 1px solid #e3e5ee;
	background: #fff;
    -webkit-transition: all .4s;
    -moz-transition: all .4s;
    -o-transition: all .4s;
    transition: all .4s;
}
.tab-content ul li input[type="checkbox"] {
	width: auto;
	height: 17px;
	padding: 0; 
}
.tab-content ul li textarea {
	resize: none;
	height: 70px;
	padding: 5px;
}
.tab-content ul li input:focus, .tab-content ul li textarea:focus {
    border-color: #222427;
}
.tab-content ul li {
	margin-bottom: 15px;
} 
.tab-content {
	padding-left: 20px;
	display: none;
}
.tab-content.active {
	display: block;
}

.b-social li.twitter span:before {
	content: '\f081';
}
.b-social li.facebook span:before {
	content: '\f082';
}
.b-social li.close span:before {
	content: '\f00d';
}
.b-social li.linkedin span:before {
	content: '\f0e1';
}
.b-social li.instagram span:before {
	content: '\f16d';
}
.b-social li.youtube span:before {
	content: '\f167';
}
.b-social li.vk span:before {
	content: '\f189';
}
.b-social li.gplus span:before {
	content: '\f0d5';
}
.b-social li span:before {
	position: absolute;
	left: 0;
	top: 0;
	font-family: 'FontAwesome';
    font-size: 17px;
    line-height: 19px;
	color: #201e34;
}
.tab-content .b-social li span {
	min-width: 80px;
}
.b-contacts__list li.logo label {
	display: block;
	margin: 0 0 10px;
}
.tab-content .b-contacts__list li.logo span {
	padding: 0;
	margin: 0 0 10px;
	text-transform: uppercase;
}
.tab-content .b-contacts__list li.logo label span {
	display: inline-block;
	vertical-align: middle;
	margin: 0;
	min-width: 80px;
	text-transform: none;
}
.b-contacts__list li.logo .nav-bottom input {
	outline: none;
	border: none;
	width: 100px;
}
.b-contacts__list li.logo .nav-bottom {
	/*padding: 0 0 0 95px;*/
}
.b-contacts__list li.logo .nav-bottom input {
	background: #201e34;
	color: #fff;
	height: 30px;
    box-shadow: 0 5px rgba(32,30,52,.6);
    -webkit-transition: none;
    -moz-transition: none;
    transition: none;
    border: none;
    font-family: inherit;
    font-size: inherit;
    cursor: pointer;
    display: inline-block;
    letter-spacing: 1px;
    position: relative;
}
.b-contacts__list li.logo .nav-bottom input:hover {
    box-shadow: 0 3px rgba(32,30,52,.6);
    top: 2px;
}
.tab-content .wrapper-button p {
	color: #201e34;
	font-weight: 700;
	text-transform: uppercase;
	font-size: 18px;
	margin: 0 0 10px;
}
.tab-content .wrapper-button {
	float: left;
	width: 50%;
}
.tab-content .wrapper-button span {
	display: block;
	width: 100%;
	padding: 0;
	margin: 0 0 5px;
}
.tab-content .wrapper-button input[type="text"] {
	width: 80%;
}
.widget_bl label {
	width: 100%;
	display: inline-block;
	vertical-align: top;
}
.widget_bl img {
	max-width: 100%;
	max-height: 100%;
}
.select-menu {
	width: 100%; 
}
.tab-content .b-contact li label span {
	min-width: 165px;
	padding: 0;
}
/* Media */
@media only screen and (max-width: 480px) {
	.wrapp-content {
		display: block;
		padding: 0 15px;
	}
	.left-block, .right-block {
		width: 100%;
		height: auto;
		margin-bottom: 20px;
	}
	.left-block ul {
		display: inline-block;
		vertical-align: top;
		width: 100%;
	}
	.left-block ul li {
	    float: left;
	    width: 32%;
	    padding-left: 0;
	    padding-right: 0;
	    font-size: 14px;
	    text-align: center;
	    border: 1px solid rgba(37, 167, 216,0.5);
	}
	.left-block ul li:not(:last-child) {
		border-right-color: #201e34;
	}
	.left-block ul li.active {
		border-color: #201e34;
	}
	.tab-content, .tab-content ul li.logo span, .b-contacts__list li.logo .nav-bottom {
		padding-left: 0;
	}
	.tab-content ul li.logo span {
		display: block;
		margin: 0 0 10px;
	}
	.b-contacts__list li.logo .nav-bottom {
		margin: 10px 0 0;
	}
	.tab-content ul li input, .tab-content ul li textarea {
		width: 100%;
		margin: 10px 0 0;
	}
	.tab-content ul li.close input {
		margin: 0;
	}
	.tab-content .wrapper-button input[type="text"] {
	width: 100%;
	}
	.tab-content .wrapper-button {
		float: none;
		width: 100%;
	}
}