//     Element Tools
// -------------------------
    .dsb(){
      display: block;
    }

    .dsn(){
      display: none;
    }

    .hidden(){
      overflow: hidden;
    }

    .visible(){
      overflow: visible;
    }

    .ma(){
      margin: 0 auto;
    }

    .pf(){
      position: fixed;
    }

    .pa(){
      position: absolute;
    }

    .pr(){
      position: relative;
    }

    .fl(){
      float: left;
    }

    .fr(){
      float: right;
    }

    .clr(){
      clear: both;
    }

    .b(){
      font-weight: bold;
    }

    .em(){
      font-style: italic;
    }

    .tdu(){
      text-decoration: underline;
    }

    .tdn(){
      text-decoration: none;
    }

    .ttu(){
      text-transform: uppercase;
    }

    .ttn(){
      text-transform: none;
    }

    .tal(){
      text-align: left;
    }

    .tar(){
      text-align: right;
    }

    .tac(){
      text-align: center;
    }

    .cur(){
      cursor: pointer;
    }

    .bgimg(@image: "image.png"){
      background-image: url("../images/@{image}");
    }

    .bgc(@bgc){
      background-color: @bgc;
    }

    .bgr(@image: "image.png"){
      background-image: url("../images/@{image}");
      background-repeat: repeat;
      background-position: 0 0;
    }

    .bgn(@image: "image.png"){
      background-image: url("../images/@{image}");
      background-repeat: no-repeat;
      background-position: 0 0;
    }

    .bgx(@image: "image.png"){
      background-image: url("../images/@{image}");
      background-repeat: repeat-x;
      background-position: 0 0;
    }

    .bgy (@image: "image.png"){
      background-image: url("../images/@{image}");
      background-repeat: repeat-y;
      background-position: 0 0;
    }


//     Gradient Tools
// -------------------------

    // .gradient-horizontal
      .gh(@startColor: #555, @endColor: #333) {
        background-color: @endColor;
        background-image: -moz-linear-gradient(left, @startColor, @endColor); // FF 3.6+
        background-image: -webkit-gradient(linear, 0 0, 100% 0, from(@startColor), to(@endColor)); // Safari 4+, Chrome 2+
        background-image: -webkit-linear-gradient(left, @startColor, @endColor); // Safari 5.1+, Chrome 10+
        background-image: -o-linear-gradient(left, @startColor, @endColor); // Opera 11.10
        background-image: linear-gradient(to right, @startColor, @endColor); // Standard, IE10
        background-repeat: repeat-x;
        filter: e(%("progid:DXImageTransform.Microsoft.gradient(startColorstr='%d', endColorstr='%d', GradientType=1)",argb(@startColor),argb(@endColor))); // IE9 and down
      }

    // .gradient-vertical
      .gd(@startColor: #555, @endColor: #333) {
        background-color: mix(@startColor, @endColor, 60%);
        background-image: -moz-linear-gradient(top, @startColor, @endColor); // FF 3.6+
        background-image: -webkit-gradient(linear, 0 0, 0 100%, from(@startColor), to(@endColor)); // Safari 4+, Chrome 2+
        background-image: -webkit-linear-gradient(top, @startColor, @endColor); // Safari 5.1+, Chrome 10+
        background-image: -o-linear-gradient(top, @startColor, @endColor); // Opera 11.10
        background-image: linear-gradient(to bottom, @startColor, @endColor); // Standard, IE10
        background-repeat: repeat-x;
        filter: e(%("progid:DXImageTransform.Microsoft.gradient(startColorstr='%d', endColorstr='%d', GradientType=0)",argb(@startColor),argb(@endColor))); // IE9 and down
      }


//     Border Radius Tools 
// -------------------------

    .brc(@border-radius: 5px ,@border-color: #ccc) {
      border: solid 1px @border-color;
    }

    .r(@radius: 5px) {
      -webkit-border-radius: @radius;
         -moz-border-radius: @radius;
              border-radius: @radius;
    }

    // Border radius
    .r4(@topLeft: 0, @topRight: 0, @bottomRight: 0, @bottomLeft: 0) {
        // Top Left
        -webkit-border-top-left-radius: @topLeft;    
            -moz-border-radius-topleft: @topLeft;   
                border-top-left-radius: @topLeft;
        // Top Right
        -webkit-border-top-right-radius: @topRight;
            -moz-border-radius-topright: @topRight;
                border-top-right-radius: @topRight;
        // Bottom Right
        -webkit-border-bottom-right-radius: @bottomRight;
            -moz-border-radius-bottomright: @bottomRight;
                border-bottom-right-radius: @bottomRight;
        // Bottom Left
        -webkit-border-bottom-left-radius: @bottomLeft;
            -moz-border-radius-bottomleft: @bottomLeft;
                border-bottom-left-radius: @bottomLeft;

        -webkit-background-clip: padding-box; 
           -moz-background-clip: padding; 
                background-clip: padding-box; 
    }


//     Shadow Tools
// -------------------------

    .text-shadow (@string: 0 1px 3px rgba(0, 0, 0, 0.25)) {
      text-shadow: @string;
    }

    // Basic box shadow
    .box-shadow(@shadow) {
        -webkit-box-shadow: @shadow;
           -moz-box-shadow: @shadow;
                box-shadow: @shadow;
    }

    // Outer shadow
    .drop-shadow(@x: 0, @y: 1px, @blur: 2px, @alpha: 0.1) {
        -webkit-box-shadow: @x @y @blur rgba(0, 0, 0, @alpha);
           -moz-box-shadow: @x @y @blur rgba(0, 0, 0, @alpha);
                box-shadow: @x @y @blur rgba(0, 0, 0, @alpha);
    }

    // Inner shadow
    .inner-shadow(@x: 0, @y: 1px, @blur: 2px, @alpha: 0.4) {
        -webkit-box-shadow: inset @x @y @blur rgba(0, 0, 0, @alpha);
           -moz-box-shadow: inset @x @y @blur rgba(0, 0, 0, @alpha);
                box-shadow: inset @x @y @blur rgba(0, 0, 0, @alpha);
    }


//     Transition Tools
// -------------------------

    // Transition
    .transition(@transition) {
        -webkit-transition: @transition;
           -moz-transition: @transition;
             -o-transition: @transition;
                transition: @transition;
    }

    // Transition all
    .transition-all(@duration: 0.2s, @delay: ease) {
        -webkit-transition: all @duration @delay;
           -moz-transition: all @duration @delay;
             -o-transition: all @duration @delay;
                transition: all @duration @delay;
    }

    // Transition duration
    .transition-duration(@transition-duration) {
        -webkit-transition-duration: @transition-duration;
           -moz-transition-duration: @transition-duration;
             -o-transition-duration: @transition-duration;
                transition-duration: @transition-duration;
    }
    // Transition delay
    .transition-delay(@transition-delay) {
        -webkit-transition-delay: @transition-delay;
           -moz-transition-delay: @transition-delay;
             -o-transition-delay: @transition-delay;
                transition-delay: @transition-delay;
    }


//     Transform Tools
// -------------------------

    // Basic transform
    .transform(@transform) {
        -webkit-transform: @transform;
           -moz-transform: @transform;
            -ms-transform: @transform;
             -o-transform: @transform;
                transform: @transform;
    }

    // Rotate
    .rotate(@deg) {
      .transform(rotate(@deg));
    }

    // Scale
    .scale(@ratio) {
      .transform(scale(@ratio));
    }

    // Translate
    .translate(@x, @y) {
      .transform(translate(@x, @y));
    }


//     More Tools
// -------------------------

      // Background clip
      .background-clip(@argument: padding-box) {
        -webkit-background-clip: @argument;
           -moz-background-clip: @argument;
                background-clip: @argument;
      }

      // Box sizing
      .box-sizing(@sizing: border-box) {
        -webkit-box-sizing: @sizing;
           -moz-box-sizing: @sizing;
            -ms-box-sizing: @sizing;
                box-sizing: @sizing;
      }

      // User select
      .user-select(@select: none) {
        -webkit-user-select: @select;
           -moz-user-select: @select;
            -ms-user-select: @select;
             -o-user-select: @select;
                user-select: @select;
      }

      // Opacity
      .opacity(@opacity: 0.5) {
        opacity: @opacity;
        @opperc: @opacity * 100;
        filter: ~"alpha(opacity=@{opperc})";
      }

      // Display: inline-block
      .inline-block() {
        display: inline-block;
        *zoom: 1; /* Fix for IE7 */
        *display: inline; /* Fix for IE7 */
      }

      //Images center
      .img-center() {
        .pa();
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        max-width: 100%;
        height: auto;
      }

      //element center
      .el-center() {
        .pa();
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        max-width: 100%;
        max-height: 100%;
      }

      // Clearfix
      .clearfix() {
        &:before,
        &:after {
          content: " "; // 1
          display: table; // 2
        }
        &:after {
          clear: both;
        }
      }

      // Center block
      .b-center-table(){
        display: table;
        height: 100%;
        width: 100%;

        .b-center-row {
          display: table-cell;
          *display: inline-block;
          vertical-align: middle;
        }
      }

      //dot dot dot
      .dot(){
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
      }

      //placeholder
      .placeholder(@rules){
        &::-webkit-input-placeholder{
          @rules();
        }
        &:-moz-placeholder{
          @rules();
        }
        &::-moz-placeholder{
          @rules();
        }
        &:-ms-input-placeholder{
          @rules();
        }
      }

    // Flexbox display
    // flex or inline-flex
    .flex-display(@display: flex) {
      display: ~"-webkit-@{display}";
      display: ~"-ms-@{display}box"; // IE10 uses -ms-flexbox
      display: ~"-ms-@{display}"; // IE11
      display: @display;
    }

    // The 'flex' shorthand
    // - applies to: flex items
    // <positive-number>, initial, auto, or none
    .flex(@columns: initial) {
      -webkit-flex: @columns;
          -ms-flex: @columns;
              flex: @columns;
    }

    // Flex Flow Direction
    // - applies to: flex containers
    // row | row-reverse | column | column-reverse
    .flex-direction(@direction: row) {
      -webkit-flex-direction: @direction;
          -ms-flex-direction: @direction;
              flex-direction: @direction;
    }

    // Flex Line Wrapping
    // - applies to: flex containers
    // nowrap | wrap | wrap-reverse
    .flex-wrap(@wrap: nowrap) {
      -webkit-flex-wrap: @wrap;
          -ms-flex-wrap: @wrap;
              flex-wrap: @wrap;
    }

    // Flex Direction and Wrap
    // - applies to: flex containers
    // <flex-direction> || <flex-wrap>
    .flex-flow(@flow) {
      -webkit-flex-flow: @flow;
          -ms-flex-flow: @flow;
              flex-flow: @flow;
    }

    // Display Order
    // - applies to: flex items
    // <integer>
    .flex-order(@order: 0) {
      -webkit-order: @order;
          -ms-order: @order;
              order: @order;
    }

    // Flex grow factor
    // - applies to: flex items
    // <number>
    .flex-grow(@grow: 0) {
      -webkit-flex-grow: @grow;
          -ms-flex-grow: @grow;
              flex-grow: @grow;
    }

    // Flex shrink
    // - applies to: flex item shrink factor
    // <number> 
    .flex-shrink(@shrink: 1) {
      -webkit-flex-shrink: @shrink;
          -ms-flex-shrink: @shrink;
              flex-shrink: @shrink;
    }

    // Flex basis
    // - the initial main size of the flex item
    // - applies to: flex itemsnitial main size of the flex item
    // <width> 
    .flex-basis(@width: auto) {
      -webkit-flex-basis: @width;
          -ms-flex-basis: @width;
              flex-basis: @width;
    }

    // Axis Alignment
    // - applies to: flex containers
    // flex-start | flex-end | center | space-between | space-around 
    .justify-content(@justify: flex-start) {
      -webkit-justify-content: @justify;
          -ms-justify-content: @justify;
              justify-content: @justify;
    }

    // Packing Flex Lines
    // - applies to: multi-line flex containers
    // flex-start | flex-end | center | space-between | space-around | stretch 
    .align-content(@align: stretch) {
      -webkit-align-content: @align;
          -ms-align-content: @align;
              align-content: @align;
    }

    // Cross-axis Alignment
    // - applies to: flex containers
    // flex-start | flex-end | center | baseline | stretch 
    .align-items(@align: stretch) {
      -webkit-align-items: @align;
          -ms-align-items: @align;
              align-items: @align;
    }

    // Cross-axis Alignment
    // - applies to: flex items
    // auto | flex-start | flex-end | center | baseline | stretch 
    .align-self(@align: auto) {
      -webkit-align-self: @align;
          -ms-align-self: @align;
              align-self: @align;
    }