//     Structure Tools
// -------------------------
		
		::selection{
			background-color: @fdb72a;
			color: @ffffff;
		}

		.u-tal{
			.tal();
		}

		.u-tar{
			.tar();
		}

		.u-tac{
			.tac();
		}

//     Wrapper Tools
// -------------------------

		.c-wrapper{
			display: table;
			table-layout: fixed;
		  width: 100%;
		  height: 100%;
			min-width: 320px;
		}

//     Header Tools
// -------------------------

		.c-header{
		}

//     Content Tools
// -------------------------

		.c-content{
			height: 100%;
		}

		.row{

			@media only screen and (max-width : 1023px) {
				margin-left: -25px;
				margin-right: -25px;
      }

      @media only screen and (max-width : 374px) {
      	margin-left: -15px;
				margin-right: -15px;	
      }
		}

		.container{
			width: inherit;
			max-width: 1560px;

			@media only screen and (max-width : 1023px) {
				padding-left: 25px;
				padding-right: 25px;
      }	

      @media only screen and (max-width : 374px) {
      	padding-left: 15px;
				padding-right: 15px;	
      }
		}

		.col,
    [class*="col-"] {

    	@media only screen and (max-width : 1023px) {
	      padding-right: 25px;
	      padding-left: 25px;
	    }

	    @media only screen and (max-width : 374px) {
      	padding-left: 15px;
				padding-right: 15px;	
      }
    }

//     Footer Tools
// -------------------------

		.c-footer-wrapper{
			display: table-row;
			width: 100%;
			height: 0;
		}

		.c-footer{
		}