/*------------------------------------------------------------*/
/* 01 - LAYOUT INITIALIZATION & COLOR, ICONS, BUTTONS PRESETS */
/*------------------------------------------------------------*/
//     Icons Tools
// ----------------------------------
  .b-icon{
    display: inline-block;
    vertical-align: middle;
    .transition(.2s ease);
  }

  .b-icon-pa{
    .pa();
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    display: inline-block;
    vertical-align: middle;
    .transition(.2s ease);
  }

//     Bnt Tools
// ----------------------------------
  .c-btn{
    .pr();
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    padding: 12px 10px;
    border: none;
    .transition(.2s ease);
    .cur();
    .r(27px);
    font-family: @m900;
    font-size: 12px;
    line-height: 27px;
    font-weight: 900;
    height: 55px;
    .ttu();
    .tac();

    &:focus,
    &:active{
      outline: none;
    }

    &:focus{
    }
    
    &:hover{
      .tdn();
    }

    &.is-yellow{
      color: @fdb72a;
      border: 2px solid @fdb72a;

      &:hover{
        background: rgb(253,183,42);
        background: -moz-linear-gradient(left,  rgba(253,183,42,1) 0%, rgba(255,144,24,1) 100%);
        background: -webkit-linear-gradient(left,  rgba(253,183,42,1) 0%,rgba(255,144,24,1) 100%);
        background: linear-gradient(to right,  rgba(253,183,42,1) 0%,rgba(255,144,24,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdb72a', endColorstr='#ff9018',GradientType=1 );
        color: @111111;
        border-color: transparent;
        // -webkit-animation: pulsebtn 1s;
        // -moz-animation:    pulsebtn 1s;
        // -o-animation:      pulsebtn 1s;
        // animation:         pulsebtn 1s;
        // .box-shadow(0 0 0 1em rgba(255, 255, 255, 0));
        // .transition(0.25s);
      }
    }

    &.is-black{
      color: @ffffff;
      background-color: @181818;

      &:hover{
        color: @181818;
        background-color: @ffffff;
      }
    }

    &.is-bg-yellow{
      color: @ffffff;
      background-color: @fdb72a;

      &:hover{
        color: @ffffff;
        background-color: @111111;
      }
    }

    &.is-bg-white{
      color: @111111;
      background-color: @ffffff;

      &:hover{
        color: @111111;
        background: rgb(253,183,42);
        background: -moz-linear-gradient(left,  rgba(253,183,42,1) 0%, rgba(255,144,24,1) 100%);
        background: -webkit-linear-gradient(left,  rgba(253,183,42,1) 0%,rgba(255,144,24,1) 100%);
        background: linear-gradient(to right,  rgba(253,183,42,1) 0%,rgba(255,144,24,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdb72a', endColorstr='#ff9018',GradientType=1 );
      }
    }

    &.is-bg-black{
      color: @ffffff;
      background-color: @0d0d0d;

      &:hover{
        color: @ffffff;
        background: rgb(253,183,42);
        background: -moz-linear-gradient(left,  rgba(253,183,42,1) 0%, rgba(255,144,24,1) 100%);
        background: -webkit-linear-gradient(left,  rgba(253,183,42,1) 0%,rgba(255,144,24,1) 100%);
        background: linear-gradient(to right,  rgba(253,183,42,1) 0%,rgba(255,144,24,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdb72a', endColorstr='#ff9018',GradientType=1 );
      }
    }
  }

    @-webkit-keyframes pulsebtn {
      0% {
        box-shadow: 0 0 0 0 @ffffff;
      }
    }

    @-moz-keyframes pulsebtn {
      0% {
        box-shadow: 0 0 0 0 @ffffff;
      }
    }

    @-o-keyframes pulsebtn {
      0% {
        box-shadow: 0 0 0 0 @ffffff;
      }
    }

    @keyframes pulsebtn {
      0% {
        box-shadow: 0 0 0 0 @ffffff;
      }
    }

  .u-btn-submit{
    .pr();

    .is-submit-title{
      opacity: 1;
      visibility: visible;
      z-index: 1;
    }

    .i-success{
      .pa();
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      color: #53fd2a;
      .transition(0.2s ease);
      opacity: 0;
      visibility: hidden;
      z-index: -1;
    }
  }

//     Other Tools
// ----------------------------------
  .u-form{

    &.is-wait{

      .is-submit-title{
        opacity: 0;
        visibility: hidden;
        z-index: -1;
      }

      .is-loader{
        opacity: 1;
        visibility: visible;
        z-index: 1;
        pointer-events: auto;
      }

      .i-success{
        opacity: 1;
        visibility: visible;
        z-index: 1;
      }

      .u-btn-submit{
        cursor: default;
      }
    }

    .u-input-style{
      width: 100%;
      .box-shadow(0px 0px 0px transparent);
      background-color: transparent;
      .r(0);
      border: 0;
      font-family: @m100;
      font-size: 18px;
      font-weight: 100;

      &.u-not-valid{
        color: @ffffff;
        
        &:focus{
          color: inherit;
        }
      }
      
      .placeholder({
        color: inherit
      });

      &:hover,
      &:focus,
      &:active{
        
      }

      &.u-not-valid{
        
      }

      &.u-textarea-style{
        font-size: 17px;
        line-height: 25px;
        padding-bottom: 0;
        resize: none;
      }
    }

    select{
      margin: 0;
      padding: 0 50px 10px 0;
      border: 0;
      outline: none;
      width: 100%;
      background-color: transparent;
      .cur();
      .tal();
      .transition(.2s ease);

      &:focus{
        outline: none;
      }

      option{
        .tal();
      }
    }

    .u-form-label{
      
    }

    .u-form-item{
      .pr();
    }
  }

    .u-text-error{
      display: none;
      .pa();
      left: 0;
      right: 0;
      bottom: -20px;
      padding: 0;
      font-family: @m300;
      font-size: 12px;
      line-height: 20px;
      font-weight: 300;
      color: #ff4e4e;
      .tal();
      pointer-events: none;

      &.u-not-valid{
        display: block;
      }
    }

  //preloader
    .is-loader{
      .pa();
      top: 50%;
      left: 50%;
      .transform(translate(-50%, -50%));
      width: 30px;
      height: 30px;
      opacity: 0;
      visibility: hidden;
      z-index: -1;
      pointer-events: none;
    }

      .is-loader-circle{
        .pa();
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-top: 3px solid rgba(255, 255, 255, 0.2);
        border-right: 3px solid rgba(255, 255, 255, 0.2);
        border-bottom: 3px solid rgba(255, 255, 255, 0.2);
        border-left: 3px solid @ffffff;
        .r(50%);
        .transform(translateZ(0));
        -webkit-animation: load8 1.1s infinite linear;
        animation: load8 1.1s infinite linear;
      }

      @-webkit-keyframes load8 {
        0% {
          -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
        }
        100% {
          -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
        }
      }

      @keyframes load8 {
        0% {
          -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
        }
        100% {
          -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
        }
      }

  //u-preloader
    .u-preloader{
      .pf();
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: @ffffff;
      z-index: 99999;
    }

    .f-container{
      .pa();
      top: 50%;
      left: 50%;      
      width: 120px;
      height: 64px;
      .transform(translate(-50%, -50%));

      img{
        display: block;
        width: 100%;
        height: auto;
      }
    }

  //u-pagiantion
    .u-pagiantion{
      padding: 30px 15px;
      .tac();
      .r(10px);
      background: #181818;
      background: -moz-linear-gradient(left,  #181818 0%, #1b1d22 100%);
      background: -webkit-linear-gradient(left,  #181818 0%,#1b1d22 100%);
      background: linear-gradient(to right,  #181818 0%,#1b1d22 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#181818', endColorstr='#1b1d22',GradientType=1 );
      margin-bottom: 15px;
      
      ul{
        .pr();
        list-style: none;
        padding: 0 60px;
        margin: 0;

        @media only screen and (max-width : 767px) {
          padding-left: 40px;
          padding-right: 40px;
        }

        li{
          .pr();
          padding: 0 20px;
          margin: 0;
          display: inline-block;
          vertical-align: middle;

          @media only screen and (max-width : 767px) {
            padding-left: 10px;
            padding-right: 10px;
          }

          &:first-child{
            .pa();
            top: 50%;
            .transform(translateY(-50%));
            left: 0;

            @media only screen and (max-width : 767px) {
              padding: 0;
            }
          }

          &:last-child{
            .pa();
            top: 50%;
            .transform(translateY(-50%));
            right: 0;

            @media only screen and (max-width : 767px) {
              padding: 0;
            }
          }

          a,
          span{
            display: inline-block;
            font-family: @m300;
            font-size: 18px;
            line-height: 30px;
            font-weight: 300;   
          }

          a{
            color: rgba(255, 255, 255, 0.4);

            &:hover{
              color: rgba(255, 255, 255, 1);
            }
          }

          span{
            color: rgba(255, 255, 255, 1);
          }
        }
      }
    }

      .u-page-numbers{
        .pr();
        display: block;
        width: 30px;
        height: 30px;

        svg{
          .el-center();
        }
      }
  
  //inner page
    .c-inner__head{
      .pr();
      padding-top: 135px;
      padding-bottom: 65px;
      //height: 100%;
      min-height: 725px;
      background: url(../img/main/home_bg.jpg) top center no-repeat;
      background-size: cover;

      @media only screen and (max-width: 1199px){
        padding-top: 115px;
      }

      @media only screen and (max-width : 1023px) {
        min-height: auto;
        padding-top: 70px;
        padding-bottom: 250px;
      }
    }

    .u-inner-position{

      @media only screen and (max-width : 1023px) {
        margin-top: -250px;
      }
    }

  .is-lazy-load{

    .u-lazy{
      .pr();
      display: block;
      width: 100%;
      height: 100%;
      // background-position: 50% 50%;
      // background-repeat: no-repeat;
      // background-image: url(../img/svg/preloader.svg);

      .is-loader{
        opacity: 1;
        visibility: visible;
        z-index: 1;
      }
        
      &.img-preloaded{
        //background: none;

        .is-loader{
          opacity: 0;
          visibility: hidden;
          z-index: -1;
        }
      }
    }
  }

  //u-btn-scroll-top
    .u-btn-scroll-top{
      .pf();
      display: block;
      z-index: 500;
      right: 37px;
      bottom: -100px;
      width: 48px;
      height: 48px;
      background-color: @fdb72a;
      color: @000000;
      .box-shadow(0px 10px 10px rgba(0, 0, 0, 0.12));
      .r(50%);
      overflow: hidden;
      .transition(0.2s ease);

      @media only screen and (max-width : 767px) {
        right: 20px;
      }

      &.is-show{
        bottom: 20px;
      }

      &:hover{
        .box-shadow(none);
      }

      svg{
        .pa();
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
      }
    }
  
/*------------------------------------------------------------*/
/* XX - @MEDIA SCREEN */
/*------------------------------------------------------------*/
  @media only screen and (max-width : 1199px) {

  }

  @media only screen and (max-width : 1023px) {

  }

  @media only screen and (max-width : 767px) {

  }

  @media only screen and (max-width : 479px) {

  }

  @media only screen and (max-width : 320px) {

  }