//     Colors Tools
// -------------------------

    @000000: #000000;
    @ff0000: #ff0000;
    @00ff00: #00ff00;
    @0000ff: #0000ff;
    @ffffff: #ffffff;
    @0d0d0d: #0d0d0d;
    @fdb72a: #fdb72a;
    @111111: #111111;
    @1c1c22: #1c1c22;
    @262626: #262626;
    @f7f7f7: #f7f7f7;
    @ba180c: #ba180c;
    @9e4b14: #9e4b14;
    @181818: #181818;
    @ff9306: #ff9306;
    @2e2d33: #2e2d33;
    @ececec: #ececec;
    @202026: #202026;
    @646467: #646467;
    @3b569d: #3b569d;
    @1ab2e8: #1ab2e8;
    @4d7eb5: #4d7eb5;
    @ea7704: #ea7704;
    @3b5998: #3b5998;
    @557ea9: #557ea9;
    @cb007e: #cb007e;
    @f05345: #f05345;
    @ea7c2a: #ea7c2a;

//     Links Tools
// -------------------------

    @colLink:             @0d0d0d;
    @colLinkHover:        @0d0d0d;


//     Typography Tools
// -------------------------

    @bodyBg:           @0d0d0d;

    @m100:             'Museo Sans Cyrl 100', sans-serif;
    @m300:             'Museo Sans Cyrl 300', sans-serif;
    @m500:             'Museo Sans Cyrl 500', sans-serif;
    @m700:             'Museo Sans Cyrl 700', sans-serif;
    @m900:             'Museo Sans Cyrl 900', sans-serif;
    @r:                'Roboto', sans-serif;
    @fontFamily:       @m100;
    @fontSize:         14px;
    @lineHeight:       18px;
    @baseColor:        @ffffff;

/*
    @media only screen and (max-width : 1559px) {}
    @media only screen and (max-width : 1199px) {}
    @media only screen and (max-width : 1023px) {}
    @media only screen and (max-width : 767px) {}
    @media only screen and (max-width : 567px) {}
    @media only screen and (max-width : 374px) {}
    @media only screen and (max-width : 320px) {}
*/