@import "../mix.less";
@import "../variables.less";
/*------------------------------------------------------------*/
/* XX - 404 */
/*------------------------------------------------------------*/
  .c-404{
    .pr();
    padding-top: 135px;
    padding-bottom: 65px;
    width: 100%;
    height: 100vh;
    min-height: 750px;
    background: url(../img/404/404-bg.jpg) center no-repeat;
    background-size: cover;

    @media only screen and (max-width: 1199px){
      padding-top: 115px;
      height: 100%;
      min-height: 100%;
    }

    @media only screen and (max-width : 1023px) {
      padding-top: 70px;
      padding-bottom: 40px;
    }

    .container,
    .row{
      height: 100%;
    }

    .u-item{
      padding-top: 30px;
      padding-bottom: 30px;
    }

    h1,
    .b-h1{      
      font-size: 150px;
      line-height: 200px;
      color: @fdb72a; 
      margin-bottom: 5px;

      @media only screen and (max-width : 1023px) {
        font-size: 120px;
        line-height: 150px;
      }

      @media only screen and (max-width : 767px) {
        font-size: 100px;
        line-height: 120px;
      }
    }

    h2,
    .b-h2{      
      font-size: 35px;
      line-height: 45px;
      color: @ffffff; 
      margin-bottom: 30px;

      @media only screen and (max-width : 1023px) {
        font-size: 25px;
        line-height: 35px;
      }

      @media only screen and (max-width : 767px) {
        font-size: 20px;
        line-height: 30px;
      }
    }

    p{
      font-family: @m100;
      font-size: 20px;
      line-height: 30px;
      font-weight: 100;
      color: @ffffff;
      margin-bottom: 60px;

      @media only screen and (max-width : 1023px) {
        font-size: 18px;
        margin-bottom: 40px;
      }

      @media only screen and (max-width : 767px) {
        font-size: 15px;
        margin-bottom: 30px;
      }
    }

    .u-head__style{
      margin-left: 130px;

      @media only screen and (max-width : 1199px) {
        margin-left: 0;
      }

      &:before{

        @media only screen and (max-width : 1199px) {
          margin: 0 auto;
          right: 0;
        }
      }
    }
  }

    .u-link-to-home{
      width: 170px;
      padding-top: 14px;
      padding-bottom: 14px;
    }

    .u-width-500{
      margin-top: 30px;
      max-width: 500px;
    }

    .u-width-560{

      @media only screen and (max-width : 1199px) {
        margin: 0 auto;
        max-width: 500px;
        .tac();
      }
    }

      .u-form-search{

        .u-form-item{
          .pr();
        }
        
        .u-input-style{
          font-size: 35px;
          color: @ffffff;
          padding: 40px 50px 40px 0;
          border-bottom: 1px solid rgba(255, 255, 255, 0.5);

          @media only screen and (max-width : 767px) {
            margin-top: 0;
            padding-top: 15px;
            padding-bottom: 15px;
            font-size: 20px;
          }

          &.u-not-valid{
            border-bottom-color: #cc0000;

            &:focus{
              border-bottom-color: @ffffff;
            }
          }

          .placeholder({
            color: @ffffff;
          });
        }
      }

        .u-btn-search{
          .pa();
          top: 50%;
          .transform(translateY(-50%));
          margin-top: 5px;
          right: 0;
          width: 50px;
          height: 50px;
          background-color: transparent;
          color: @ffffff;
        }