@import "../mix.less";
@import "../variables.less";
/*------------------------------------------------------------*/
/* XX - ABOUT */
/*------------------------------------------------------------*/
  .c-inner__head{

    &.u-inner__about{
      min-height: 450px;

      .c-inner__head__section{
        padding-top: 90px;

        @media only screen and (max-width : 767px) {
          padding-top: 70px;
        }
      }
    }
  }

    .c-inner__head__section{
      .pr();
      padding-top: 157px;

      @media only screen and (max-width : 1023px) {
        padding-top: 120px;
      }

      @media only screen and (max-width : 767px) {
        padding-top: 70px;
      }
    }

    .u-inner__head__style{
      .pr();
      padding-top: 35px;
      margin-left: 130px;

      @media only screen and (max-width : 1199px) {
        margin-left: 60px;
      }

      @media only screen and (max-width : 1023px) {
        margin-left: 0;
      }

      @media only screen and (max-width : 767px) {
        padding-top: 15px;
      }

      &:before{
        content: '';
        .pa();
        top: 0;
        left: 0;
        width: 30px;
        height: 2px;
        background-color: @ffffff;
      }

      h1,
      .b-h1{      
        font-size: 65px;
        line-height: 75px;
        color: @ffffff; 
        margin-bottom: 10px;

        @media only screen and (max-width : 1023px) {
          font-size: 30px;
          line-height: 45px;
        }
      }
    }

  .c-about{
    margin-bottom: 40px;

    @media only screen and (max-width : 1023px) {
      padding-top: 50px;
    }

    h2,
    .b-h2{
      font-size: 30px;
      line-height: 50px;
      color: @111111;
      .tac();

      @media only screen and (max-width : 1023px) {
        font-size: 25px;
        line-height: 40px;
      }

      @media only screen and (max-width : 767px) {
        font-size: 20px;
        line-height: 30px;
      }
    }

		p{
			font-family: @m100;
			font-size: 17px;
			line-height: 35px;
			font-weight: 100;
			color: @111111;
			margin-bottom: 0;

      @media only screen and (max-width : 1023px) {
        font-size: 15px;
      }
		}

    .u-table{
      display: table;
      width: 100%;
      height: 100%;
    }

    .u-table-cell{
      display: table-cell;
      vertical-align: middle;
    }
  }

    .c-about__section__head{
      height: 505px;
      padding-left: 30px;
      padding-right: 30px;
      margin-bottom: 97px;

      @media only screen and (max-width : 1559px) {
        padding-top: 50px;
        padding-bottom: 100px;
        height: auto;
        margin-bottom: 30px;
      }

      @media only screen and (max-width : 1023px) {        
        padding-bottom: 50px;
      }

      @media only screen and (max-width : 767px) {
        padding: 30px 15px;
        margin-bottom: 0;
      }
    }

    .c-about__skew{
      .pr();
      padding-top: 65px;
      padding-bottom: 0;
      background-color: @ffffff;

      @media only screen and (max-width : 767px) {
        padding-top: 0;
      }

      &:before{
        content: '';
        .pa();
        left: 0;
        top: -25px;
        right: 0;
        height: 100px;
        background-color: @ffffff;
        .transform(skew(0deg, -2deg));

        @media only screen and (max-width : 1023px) {
          top: -20px;
          height: 50px;
        }
      }
    }

    .c-about__section{
      
    }

    .u-figure__about{

      img{        
        max-width: 100%;
        height: auto;

        @media only screen and (max-width : 1023px) {
          width: 100%;
        }
      }
    }

    .u-width-405{
      max-width: 405px;
      margin: 0 auto;
    }

    .u-item__about{
      .pr();

      &.u-item__about__top{
        margin-bottom: 200px;

        @media only screen and (max-width : 1199px) {
          margin-bottom: 0;
        }
      }

      &.u-item__about__bottom{
        margin-top: -200px;

        @media only screen and (max-width : 1199px) {
          margin-top: 0;
        }
      }

      .u-table-cell{

        @media only screen and (max-width : 1023px) {
          padding: 30px 50px;
        }

        @media only screen and (max-width : 374px) {
          padding-left: 30px;
          padding-right: 30px; 
        }
      }
    }

      .c-about__photo__title{
        .pa();
        top: 108px;
        left: 200px;
        padding-top: 70px;
        z-index: 1;
        max-width: 300px;

        @media only screen and (max-width : 1559px) {
          top: 50px;
          left: 50px;
        }

        @media only screen and (max-width : 1023px) {
          padding-top: 50px;
          left: 25px;
        }

        &:before{
          content: '';
          .pa();
          top: 0;
          left: 0;
          width: 30px;
          height: 2px;
          background-color: @ffffff;
        }

        p{
          font-size: 20px;
          color: @ffffff;

          @media only screen and (max-width : 1023px) {
            font-size: 18px;
          }
        }
      }