@import "../mix.less";
@import "../variables.less";
/*------------------------------------------------------------*/
/* XX - ACCOUNT */
/*------------------------------------------------------------*/
  .u-page-account{
    .pr();
    padding-top: 135px;
    margin-bottom: 70px;

     @media only screen and (max-width: 1199px){
      padding-top: 115px;
    }

    @media only screen and (max-width : 1023px) {      
      padding-top: 70px;
    }
  }

  .u-wd-500{
    max-width: 500px;
    margin: 0 auto;
  }

    .c-account__head{
      padding-top: 55px;
      padding-bottom: 45px;
      .tac();

      @media only screen and (max-width : 767px) {
        padding-top: 30px;
        padding-bottom: 30px;
      }

      h1,
      .b-h1{
        font-family: @m100;
        font-size: 35px;
        line-height: 45px;
        font-weight: 100;
        color: @ffffff;

        @media only screen and (max-width : 767px) {
          font-size: 30px;
          line-height: 35px;
        }
      }
    }

    .u-style-box{
      .pr();
      padding: 15px 15px;
      margin-top: 20px;
      width: 100%;
      background-color: @ffffff;

      @media only screen and (max-width : 1023px) {
        margin-left: -25px;
        margin-right: -25px;
        padding-left: 25px;
        padding-right: 25px;
        width: auto;
      }

      @media only screen and (max-width : 374px) {
        margin-left: -15px;
        margin-right: -15px;
        padding-left: 15px;
        padding-right: 15px;
      }

      &:before{
        content: '';
        .pa();
        top: -20px;
        left: 40px;
        right: 40px;
        height: 20px;
        background-color: rgba(255, 255, 255, 0.2);
        z-index: -2;

        @media only screen and (max-width : 1023px) {
          left: 20px;
          right: 20px;
        }
      }

      &:after{
        content: '';
        .pa();
        top: -10px;
        left: 20px;
        right: 20px;
        height: 40px;
        background-color: rgba(255, 255, 255, 0.85);
        z-index: -1;

        @media only screen and (max-width : 1023px) {
          left: 10px;
          right: 10px;
        }
      }
    }

      .c-account__user{
        .pr();
        margin: -62px auto 62px;
        max-width: 500px;
        .tac();

        @media only screen and (max-width : 767px) {
          margin-bottom: 40px;
        }
      }

        .c-account__user__photo{
          .pr();
          width: 100px;
          height: 100px;
          overflow: hidden;
          .r(50%);
          margin: 0 auto 25px;
          background-color: @ffffff;
          
          img{
            .el-center();
          }
        }

        .c-account__user__link{
          font-family: @m100;
          font-size: 12px;
          line-height: 20px;
          font-weight: 100;
          color: @111111;
          .ttu();
        }

          .upload-photo{            
            .transition(.2s ease);
            .cur();
            .user-select(none);

            &:hover{
              color: @fdb72a;
            }
          }

        .u-form-account,
        .u-form-enter-site,
        .u-form-register{

          .u-form__item{
            .pr();
            margin-bottom: 15px;
          }

          .u-form__label{
            .pa();
            top: 20px;
            left: 0;            
            padding: 0 40px;
            margin: 0;
            font-family: @m100;
            font-size: 15px;
            line-height: 20px;
            font-weight: 100;
            color: rgba(255, 255, 255, 0.4);

            @media only screen and (max-width : 767px) {              
              padding-left: 15px;
              padding-right: 15px;
            }
          }

          .u-input-style{
            padding: 40px 40px 23px;
            background-color: @202026;
            color: @ffffff;
            height: 85px;
            .r(10px);

            @media only screen and (max-width : 767px) {
              font-size: 16px;
              padding-left: 15px;
              padding-right: 15px;
            }
          }

          .u-text-error{
            top: 100%;
            bottom: auto;
            font-family: @r;
            padding-left: 40px;
            padding-right: 40px;
            line-height: 15px;
            margin-top: -20px;

            @media only screen and (max-width : 767px) {
              padding-left: 15px;
              padding-right: 15px;
            }
          }
        }

        .u-form__name{
          margin: 60px 0 30px;
          font-family: @m100;
          font-size: 17px;
          line-height: 30px;
          font-weight: 100;
          color: @111111;
          .tac();

          @media only screen and (max-width : 767px) {
            margin-top: 30px;
            margin-bottom: 15px;
          }
        }
        
        .c-btn{

          &.u-btn-save{
            display: block;
            margin: 40px auto 0;
            max-width: 200px;
            width: 100%;
            padding-top: 19px;
            padding-bottom: 19px;
            height: 65px;
            .r(32px);
            color: @111111;

            &:hover{
              color: @ffffff;
            }
          }
        }

/*------------------------------------------------------------*/
/* XX - ACCOUNT HISTORY */
/*------------------------------------------------------------*/
  .c-account-history{
    
    .u-table{
      display: table;
      table-layout: fixed;
      width: 100%;

      @media only screen and (max-width : 767px) {
        display: block;
      }
    }

    .u-table-cell{
      padding: 15px 10px;
      display: table-cell;
      vertical-align: middle;

      @media only screen and (max-width : 767px) {
        display: block;
        padding-top: 0;
        padding-bottom: 0;
      }
    }

    .u-wd-1020{
      padding: 55px 0;

      @media only screen and (max-width : 767px) {
        padding-top: 15px;
        padding-bottom: 15px;
      }
    }
  }

  .u-wd-1020{
    max-width: 1020px;
    margin: 0 auto;
  }

  .c-account-history__row{

  }

    .c-account-history__item{
      background-color: @ececec;
      .r(10px);
      margin-bottom: 15px;

      &.is-open{

        .u-order-link__id{
          color: @fdb72a;
        }

        .u-order-id__icon{

          svg{
            transform: rotate(-180deg);
          }
        }
      }
    }

      .u-history-order__head{
        .pr();
        padding: 27px 115px 27px 40px;
        background-color: @202026;
        .r(10px);
        .cur();
        transition: .2s ease;

        @media only screen and (max-width : 1023px) {
          padding-left: 15px;
          padding-right: 65px;  
        }
      }

        .u-order__id{

        }

        .u-order__date{
          
        }

        .u-order__price{
          
        }

        .u-order__photo{
          width: 85px;

          @media only screen and (max-width : 767px) {
            width: 100%;
          }
        }

        .u-order__product{
          width: 53%;

          @media only screen and (max-width : 767px) {
            width: 100%;
          }
        }

        .u-order__type{
          width: 117px;

          @media only screen and (max-width : 767px) {
            width: 100%;
          }
        }

        .u-order-id__icon{
          .pa();
          top: 50%;
          .transform(translateY(-50%));
          right: 45px;
          color: @ffffff;
          width: 30px;
          height: 30px;

          @media only screen and (max-width : 1023px) {
            right: 20px;
          }

          svg{
            .el-center();
            transform: rotate(0);
          }
        }

          .u-order-link__id{
            font-family: @m100;
            font-size: 25px;
            line-height: 35px;
            font-weight: 100;
            color: @ffffff;

            @media only screen and (max-width : 1023px) {
              font-size: 21px;
            }
          }

          .u-order-link__date{
            font-family: @m100;
            font-size: 15px;
            line-height: 30px;
            font-weight: 100;
            color: rgba(255, 255, 255, 0.25);
          }

          .u-order-link__material{
            display: inline-block;
            min-width: 105px;
            margin-right: 15px;
            font-family: @m100;
            font-size: 15px;
            line-height: 30px;
            font-weight: 100;
            color: rgba(255, 255, 255, 0.25);

            @media only screen and (max-width : 1023px) {
              display: block;
            }
          }

          .u-order-link__type{
            margin-right: 45px;
            display: inline-block;
            padding: 5px 15px;
            font-family: @m100;
            height: 24px;
            font-size: 11px;
            line-height: 15px;
            font-weight: 100;
            color: @111111;
            .r(10px);
            .ttu();
            background-color: @ffffff;

            @media only screen and (max-width : 767px) {
              margin-right: 0;
            }
          }

          .u-order-link__price{
            font-family: @r;
            font-size: 15px;
            line-height: 30px;
            font-weight: 500;
            color: @ffffff;
            white-space: nowrap;
          }

          .u-order__photo__link{
            .pr();
            display: block;
            width: 65px;
            height: 65px;

            @media only screen and (max-width : 767px) {
              margin: 0 auto;
            }
          }

            .u-order__photo__section{
              .pr();
              display: block;
              width: 100%;
              height: 100%;
              overflow: hidden;              
              .r(50%);

              &:before{
                content: '';
                .pa();
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: rgba(0, 0, 0, 0.1);
                z-index: 1;
              }
            }

            .u-order__photo__video{
              .pa();
              top: 0;
              left: 0;
              width: 20px;
              height: 20px;
              .r(50%);
              background-color: @fdb72a;
              z-index: 1;

              &:before{
                content: '';
                .pa();
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                margin: auto;
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 3px 0 3px 4px;
                border-color: transparent transparent transparent @111111;
              }
            }

          .u-order__product__name{
            font-family: @m100;
            font-size: 16px;
            line-height: 30px;
            font-weight: 400;
            color: @111111;

            &:hover{
              color: @fdb72a;
            }
          }

      .u-history-order__body{
        display: none;
        
        .u-table{

        }

        .u-table-cell{
          padding-top: 0;
          padding-bottom: 0;

          @media only screen and (max-width : 767px) {
            padding-top: 10px;
            padding-bottom: 10px;
            .tac();
          }
        }

        .u-order-link__price{
          color: @111111;
        }
      }

        .u-history-order__body__row{
          padding: 20px 0;
        }

          .u-history-order__body__item{
            padding: 10px 40px;

           @media only screen and (max-width : 1023px) {
              padding-left: 15px;
              padding-right: 15px;
            }
          }