@import "../mix.less";
@import "../variables.less";
/*------------------------------------------------------------*/
/* XX - ARTICLES */
/*------------------------------------------------------------*/
  .u-articles__filter__list{
    list-style: none;
    margin: 0;
    padding: 0 0 0 100px;
    .tal();

    @media only screen and (max-width : 1559px) {
      padding-left: 0;
      .tac();
    }

    li{
      display: inline-block;
      vertical-align: middle;
      padding: 0;
      margin: 15px 50px 15px 0;

      &:last-child{
        margin-right: 0;

        @media only screen and (max-width : 1023px) {
          margin-right: 15px;
        }
      }

      @media only screen and (max-width : 1559px) {
        margin: 0 15px;
      }

      @media only screen and (max-width : 1199px) {
        margin-left: 5px;
        margin-right: 5px;
      }

      @media only screen and (max-width : 1023px) {
        margin: 0 15px;
      }
    }
  }

  .u-articles-item{
    margin-bottom: 15px;
  }

    .u-articles__filter__label{
      display: inline-block;
      padding: 0;
      margin: 0;
      .cur();

      &:hover{
        .u-articles__filter__section{
          color: @fdb72a;
        }
      }
    }

      .u-articles__filter__input{
        display: none;

        &:not(:checked) + .u-articles__filter__section{
          color: @ffffff;

          &:before{
            background-color: transparent;
          }
        }

        &:checked + .u-articles__filter__section{
          color: @fdb72a;

          &:before{
            background-color: @fdb72a;
          }
        }
      }

        .u-articles__filter__section{
          .pr();
          display: block;
          font-family: @m100;
          font-size: 17px;
          line-height: 30px;
          font-weight: 100;
          color: @ffffff;
          padding: 0 0 5px;

          @media only screen and (max-width : 767px) {
            font-size: 14px;
            line-height: 18px;
          }

          &:before{
            content: '';
            .pa();
            left: 0;
            bottom: 0;
            width: 100%;
            height: 2px;
            background-color: transparent;
          }

          svg{
            display: inline-block;
            vertical-align: middle;
            margin-right: 5px;
          }
        }

        .u-articles__filter__text{
          .pr();
          display: inline-block;
          vertical-align: middle;          
        }

    .c-articles__aside{
      font-size: 0;
      padding: 37px 50px 15px;
      background: #181818;
      background: -moz-linear-gradient(left,  #181818 0%, #1b1d22 100%);
      background: -webkit-linear-gradient(left,  #181818 0%,#1b1d22 100%);
      background: linear-gradient(to right,  #181818 0%,#1b1d22 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#181818', endColorstr='#1b1d22',GradientType=1 );
      .r(10px);

      @media only screen and (max-width : 1023px) {
        padding-left: 20px;
        padding-right: 20px;
      }

      hr{
        margin-top: 27px;
        margin-bottom: 27px;
        border: 0;
        border-top: 1px solid rgba(255, 255, 255, 0.3);
      }
    }

      .c-articles__aside__item{
        padding: 27px 0;
        border-top: 1px solid rgba(255, 255, 255, 0.3);

        &:first-child{
          padding-top: 0;
          border-top: 0;
        }

        @media only screen and (max-width : 1199px) {
          width: 50%;
          display: inline-block;
          vertical-align: top;
          padding-top: 0;
          border-top: 0;
        }

        @media only screen and (max-width : 767px) {
          width: 100%;
          display: block;
          border-top: 1px solid rgba(255, 255, 255, 0.3);
          padding-top: 15px;
        }
      }

      .c-articles__aside__title{
        font-family: @m100;
        font-size: 25px;
        line-height: 35px;
        font-weight: 100;
        color: @ffffff;
        margin-bottom: 20px;
      }

        .u-articles__rubric{
          list-style: none;
          padding: 0;
          margin: 0 0 10px;

          li{
            display: block;
            padding: 0;
            margin: 0;

            a{
              display: inline-block;
              vertical-align: middle;
              margin-right: 5px;
              font-family: @m300;
              font-size: 12px;
              line-height: 30px;
              font-weight: 300;
              color: rgba(255, 255, 255, 0.3);
              .ttu();

              &:hover{
                color: rgba(255, 255, 255, 0.8);

                i{
                  border-color: @fdb72a;
                  background-color: @fdb72a;
                  color: @111111;
                }
              }
            }

            i{
              margin-left: 5px;
              display: inline-block;              
              padding: 0 8px;
              font-style: normal;
              font-family: @m300;
              font-size: 12px;
              line-height: 22px;
              font-weight: 300;
              color: rgba(255, 255, 255, 0.3);
              .r(12px);
              border: 1px solid rgba(255, 255, 255, 0.3);
            }
          }
        }

        .u-link-articles-rubric-more{
          font-family: @m100;
          font-size: 13px;
          line-height: 30px;
          font-weight: 100;
          color: rgba(255, 255, 255, 0.3);

          &:hover{
            color: rgba(255, 255, 255, 0.8);
          }
        }


      .u-articles__discussing{
        margin-bottom: 30px;
      }

        .u-articles__discussing__item{
          margin-bottom: 15px;
        }

          .u-articles__discussing__article{
            display: flex;
            align-items: center;
            justify-content: flex-start;

            &:hover{

              .u-articles__discussing__count{
                color: @ffffff;
              }
            }
          }

            .u-articles__discussing__photo{
              position: relative;
              flex: 0 0 65px;
              width: 65px;
              height: 65px;
              margin-right: 15px;
            }

              .u-articles__discussing__photo__link{
                .pr();
                display: block;                
                overflow: hidden;
                width: 100%;
                height: 100%;
                .r(50%);                

                &:before{
                  content: '';
                  .pa();
                  top: 0;
                  left: 0;
                  width: 100%;
                  height: 100%;
                  background-color: rgba(13, 13, 13, 0.1);
                  z-index: 1;
                }

                img{
                  .el-center();
                }
              }

            .u-articles__discussing__name{              
              padding-right: 20px;
            }

              .u-articles__discussing__link{
                font-family: @m100;
                font-size: 16px;
                line-height: 20px;
                font-weight: 100;
                color: rgba(255, 255, 255, 0.3);

                &:hover{
                  color: rgba(255, 255, 255, 0.8);
                }
              }

            .u-articles__discussing__count{
              .pr();
              flex: 0 0 26px;
              width: 26px;
              height: 26px;
              color: rgba(255, 255, 255, 0.3);

              i{
                .pa();
                top: -7px;
                right: -7px;
                display: block;
                width: 20px;
                height: 20px;
                .r(50%);
                font-style: normal;
                font-family: @m500;
                font-size: 11px;
                line-height: 20px;
                font-weight: 500;
                color: @111111;
                background-color: @fdb72a;
                .tac();
                z-index: 1;
              }
            }


      .u-articles__webinars__article{
        .pr();
        display: block;
        width: 145px;
        height: 145px;
        margin-bottom: 20px;
      }

        .u-articles__webinars__date{
          .pa();
          top: 0;
          left: 0;
          padding: 10px 7px;
          width: 50px;
          height: 50px;
          .r(50%);
          overflow: hidden;
          background-color: @ffffff;
          font-family: @m300;
          font-size: 9px;
          line-height: 15px;
          font-weight: 300;
          color: @111111;
          .ttu();
          .tac();
          z-index: 1;
           .user-select(none);

          i{
            display: block;
            font-size: 15px;
            font-style: normal;
          }
        }

        .u-articles__webinars__img{
          .pr();
          display: block;
          width: 100%;
          height: 100%;
          .r(50%);
          overflow: hidden;

          img{
            .el-center();
          }
        }

        .u-articles__webinars__link{
          font-family: @m100;
          font-size: 16px;
          line-height: 16px;
          font-weight: 100;
          color: rgba(255, 255, 255, 0.3);

          &:hover{
            color: rgba(255, 255, 255, 0.8);
          }
        }

        .u-articles__discussing__video__play{
          .pa();
          top: 0;
          left: 0;
          width: 20px;
          height: 20px;
          color: @fdb72a;
          .r(50%);
          .cur();
          .transition(.2s ease);
          background: @fdb72a;
          z-index: 1;

          &:before{
            content: '';
            .pa();
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 3px 0 3px 4px;
            border-color: transparent transparent transparent @111111;
            margin-left: 1px;
            z-index: -1;
          }
        }