@import "../mix.less";
@import "../variables.less";
/*------------------------------------------------------------*/
/* XX - ARTICLES DETAIL */
/*------------------------------------------------------------*/
  .c-articles-detail{
    padding-top: 30px;
    padding-bottom: 100px;

    @media only screen and (max-width: 1023px){
      padding-top: 20px;
      padding-bottom: 80px;
    }

    @media only screen and (max-width: 767px){
      padding-bottom: 40px;
    }

    .u-style-box{
      padding-bottom: 0;
      padding-left: 0;
      padding-right: 0;
    }

    .u-style-box__test__head{
      padding-left: 25px;
      padding-right: 25px;

      @media only screen and (max-width : 374px) {
        padding-left: 15px;
        padding-right: 15px;
      }
    }

    .u-style-box__test__photo{
      &:after{
        content: '';
        .pa();
        left: 0;
        bottom: 0;
        width: 100%;
        height: 300px;
        z-index: -1;
        background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%);
        background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
        background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 );
      }
    }

    .c-test-detail_back{

      .c-logo__mobile{
        @media only screen and (max-width : 1023px){
          margin-bottom: 30px;
        }
      }
    }
  }

    .c-articles-detail__head{
      .pr();      
      .tac();
      padding: 0 130px 18px;
      margin-top: -65px;

      @media only screen and (max-width : 1199px) {
        padding-left: 25px;
        padding-right: 25px;
      }

      @media only screen and (max-width : 374px) {
        padding-left: 15px;
        padding-right: 15px;
      }

      .u-head__item{
        padding-bottom: 15px;

        &.u-head__item__date{
          .tal();

          @media only screen and (max-width : 1023px) {
            .pa();
            top: 75px;
            left: 0;
            width: 50%;
          }
        }

        &.u-head__item__tags{
          
          @media only screen and (max-width : 1023px) {
            .pr();
            padding-top: 15px;
            padding-bottom: 0;

            &:before{
              content: '';
              .pa();
              top: 0;
              left: 25px;
              right: 25px;
              height: 1px;
              background-color: rgba(13, 13, 13, 0.1);
            }
          }          
        }

        &.u-head__item__comments{
          .tar();

          @media only screen and (max-width : 1023px) {
            .pa();
            top: 75px;
            right: 0;
            width: 50%; 
          }
        }
      }
    }

      .c-articles-detail__user__photo{
        .pr();
        width: 100px;
        height: 100px;
        overflow: hidden;
        .r(50%);
        margin: 0 auto 24px;
        user-select: none;

        @media only screen and (max-width : 1023px) {
          margin-bottom: 20px;
        }
        
        img{
          .el-center();
        }
      }

      .u-articles-detail__date{
        font-family: @m300;
        font-size: 12px;
        line-height: 24px;
        font-weight: 300;
        color: @111111;
        .ttu();
      }

      .u-articles-detail__tag{
        
        ul{
          list-style: none;
          padding: 0;
          margin: 0;
          font-size: 0;

          li{
            padding: 0;
            margin: 5px 3px;
            display: inline-block;

            a{
              padding: 0 10px;
              display: block;
              font-family: @m300;
              font-size: 11px;
              line-height: 24px;
              font-weight: 300;
              color: @111111;
              background-color: @ececec;
              .r(12px);
              .ttu();

              &:hover{
                background-color: @fdb72a;
              }
            }
          }
        }
      }

      .u-articles-detail__comments{

      }

        .u-articles-detail__comments__name{
          display: inline-block;
          vertical-align: middle;
          font-family: @m300;
          font-size: 12px;
          line-height: 24px;
          font-weight: 300;
          color: @111111;
          .ttu();

          @media only screen and (max-width : 1023px) {
            display: none;
          }
        }

        .u-articles-detail__comments__count{
          .pr();
          display: inline-block;
          vertical-align: middle;
          width: 26px;
          height: 26px;
          color: @0d0d0d;
          margin: -10px 7px 0 16px;

          @media only screen and (max-width : 1023px) {
            margin-top: -6px;
            margin-right: 0;
          }

          i{
            .pa();
            top: -7px;
            right: -7px;
            display: block;
            width: 20px;
            height: 20px;
            .r(50%);
            font-style: normal;
            font-family: @m500;
            font-size: 11px;
            line-height: 20px;
            font-weight: 500;
            color: @111111;
            background-color: @fdb72a;
            .tac();
            z-index: 1;
          }
        }

    .c-articles-detail__section{
      padding: 85px 25px;

      @media only screen and (max-width : 1023px) {
        padding-top: 50px;
        padding-bottom: 50px;
      }

      @media only screen and (max-width : 767px) {
        padding-top: 30px;
        padding-bottom: 30px;
      }

      @media only screen and (max-width : 374px) {
        padding-left: 15px;
        padding-right: 15px;
      }
    }

    .c-articles-detail__share{
      padding-left: 25px;
      padding-right: 25px;

      @media only screen and (max-width : 374px) {
        padding-left: 15px;
        padding-right: 15px;
      }
    }

    .u-style-seo-articles{

      h2,
      .b-h2{
        font-family: @m100;
        font-size: 30px;
        line-height: 40px;
        font-weight: 100;
        color: @111111;
        margin-bottom: 30px;

        @media only screen and (max-width : 1023px) {
          font-size: 25px;
          line-height: 35px;
        }
      }

      h3,
      .b-h3{
        font-family: @m700;
        font-size: 22px;
        line-height: 40px;
        font-weight: 700;
        color: @111111;
        margin-bottom: 30px;

        @media only screen and (max-width : 1199px) {
          font-size: 18px;
          line-height: 30px;
        }
      }

      p{
        font-family: @m100;
        font-size: 17px;
        line-height: 35px;
        font-weight: 100;
        color: @111111;
        margin-bottom: 50px;

        @media only screen and (max-width : 1023px) {
          font-size: 15px;
          line-height: 30px;
          margin-bottom: 30px;
        }
      }

      blockquote{
        .pr();
        padding: 42px 140px;
        margin: 70px -150px 0;
        z-index: 0;

        @media only screen and (max-width : 1079px) {
          margin-left: 0;
          margin-right: 0;
          padding-left: 40px;
          padding-right: 40px;
        }

        @media only screen and (max-width : 1023px) {
          margin-top: 40px;
        }

        &:before{
          content: '';
          .pa();
          top: -20px;
          left: 40px;
          width: 50px;
          height: 32px;
          background: url(../img/articles_detail/i-blockquote.png) center no-repeat;
        }

        &:after{
          content: '';
          .pa();
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;          
          z-index: -1;
          opacity: 0.65;
          background: rgb(236,236,236);
          background: -moz-linear-gradient(top,  rgba(236,236,236,1) 0%, rgba(247,247,247,1) 100%);
          background: -webkit-linear-gradient(top,  rgba(236,236,236,1) 0%,rgba(247,247,247,1) 100%);
          background: linear-gradient(to bottom,  rgba(236,236,236,1) 0%,rgba(247,247,247,1) 100%);
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ececec', endColorstr='#f7f7f7',GradientType=0 );

        }

        p{
          font-family: @m100;
          font-size: 20px;
          line-height: 40px;
          font-weight: 100;
          color: @111111;
          margin-bottom: 50px;

          @media only screen and (max-width : 1199px) {
            font-size: 17px;
            line-height: 30px;
          }

          @media only screen and (max-width : 767px) {
            font-size: 15px;            
            margin-bottom: 30px;
          }
        }
      }

      ul{
        list-style: none;
        padding: 0;
        margin: 0 0 70px;

        @media only screen and (max-width : 767px) {
          margin-bottom: 30px;
        }

        li{
          .pr();
          padding: 0 0 0 30px;
          margin: 0 0 10px;
          font-family: @m100;
          font-size: 17px;
          line-height: 30px;
          font-weight: 100;
          color: @111111;

          @media only screen and (max-width : 767px) {
            font-size: 15px;
          }

          &:before{
            content: '';
            .pa();
            top: 12px;
            left: 0;
            width: 7px;
            height: 7px;
            .r(50%);
            background-color: @111111;
          }
        }
      }

      ol{
        list-style: none;
        padding: 0;
        margin: 0 0 70px;
        font-size: 0;

        @media only screen and (max-width : 767px) {
          margin-bottom: 30px;
        }

        li{
          .pr();
          counter-increment: item;
          display: inline-block;
          vertical-align: top;
          width: 33.33%;
          padding: 80px 70px 0 0;
          margin: 0 0 10px;
          font-family: @m100;
          font-size: 17px;
          line-height: 30px;
          font-weight: 100;
          color: @111111;

          @media only screen and (max-width : 767px) {
            display: block;
            width: 100%;
            padding-right: 0;
            font-size: 15px;
          }

          &:before{
            content: counter(item);
            .pa();
            top: 12px;
            left: 0;
            padding: 9px 5px;
            width: 50px;
            height: 50px;
            .r(50%);
            border: 1px solid @fdb72a;
            font-family: @m100;
            font-size: 18px;
            line-height: 30px;
            font-weight: 100;
            color: @111111;
            .tac();

            @media only screen and (max-width : 767px) {
              right: 0;
              margin: auto;
            }
          }
        }
      }

      fieldset{
        margin-left: -130px;
        margin-right: -130px;
        padding: 0 130px 18px;
        border-top: 1px solid rgba(13, 13, 13, 0.1);
        border-bottom: 1px solid rgba(13, 13, 13, 0.1);
        border-left: 0;
        border-right: 0;
        .tac();

        @media only screen and (max-width : 1079px) {
          margin-left: 0;
          margin-right: 0;
          padding-left: 40px;
          padding-right: 40px;
        }  

        legend{
          padding: 0 60px;
          width: auto;
          font-family: @m100;
          font-size: 30px;
          line-height: 40px;
          font-weight: 100;
          color: @111111;  
          margin-bottom: 35px;

          @media only screen and (max-width : 767px) {
            font-size: 25px;
            line-height: 35px;
          }
        }
      }
    }

    .u-wd-760{
      max-width: 760px;
      margin: 0 auto;
    }

    .c-articles-detail__gallery{
      margin-bottom: 50px;
      
      .u-style-slider{
        margin-bottom: 0;

        .slick-arrow{
          color: @111111;

          &:hover{
            opacity: 0.8;
          }

          &.slick-prev{
            left: 20%;

            @media only screen and (max-width : 1199px) {
              left: 15px;
            }
          }

          &.slick-next{
            right: 20%;

            @media only screen and (max-width : 1199px) {
              right: 15px;
            }
          }
        }
      }

      .u-style-slider__item{
        display: inline-block;

        &.slick-current{

          .u-style-slider__article{
            &:before{
              opacity: 0;
              visibility: hidden;
            }
          }
        }

        img{
          max-width: 100%;
          height: auto;
        } 
      }

      .slick-dots{
        bottom: -75px;

        @media only screen and (max-width : 1023px) {
          bottom: -35px;
        }

        li{
          margin: 5px 11px;
          width: 8px;
          height: 8px;

          &.slick-active{
            
            button{
              
              &:before{
                background-color: rgba(13, 13, 13, 1);
              }              
            }            
          }

          button{
            width: 100%;
            height: 100%;

            &:hover{
              
              &:before{
                background-color: rgba(13, 13, 13, 1);
              }              
            }

            &:before{
              top: 0;
              left: 0;
              border: 0;
              width: 100%;
              height: 100%;
              background-color: rgba(13, 13, 13, 0.12);
            }

            &:after{
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              background-color: transparent;
            }
          }
        }
      }
    }

      .u-style-slider__article{
        .pr();
        width: 760px;
        height: 470px;

        @media only screen and (max-width : 1023px) {
          width: 650px;
          height: 400px;
        }

        &:before{
          content: '';
          .pa();
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: rgba(255, 255, 255 ,0.4);
          z-index: 1;
        }
      }

      .c-articles-detail__author{
        .pr();
        margin-top: -70px;
        margin-left: 60px;

        @media only screen and (max-width : 767px) {
          margin-top: 0;
          margin-left: 0;
        }
      }

        .c-articles-detail__author__photo{
          .pr();
          width: 100px;
          height: 100px;
          overflow: hidden;
          .r(50%);
          margin-bottom: 35px;

          img{
            .el-center();
          }
        }

        .c-articles-detail__author__name{
          .pr();
          padding-top: 20px;
          font-family: @m100;
          font-size: 17px;
          line-height: 30px;
          font-weight: 100;
          color: @111111;

          &:before{
            content: '';
            .pa();
            top: 0;
            left: 0;
            width: 30px;
            height: 2px;
            background-color: @111111;
          }
        }


    .c-articles-detail__article{
      .pr();
      padding-bottom: 50px;

      @media only screen and (max-width : 1023px) {
        padding-left: 25px;
        padding-right: 25px;
      }

      @media only screen and (max-width : 374px) {
        padding-left: 15px;
        padding-right: 15px;
      }

      &:before{
        content: '';
        .pa();
        top: 180px;
        left: 0;
        width: 100%;
        bottom: 0;
        background-color: @0d0d0d;
      }
      
      h2,
      .b-h2{
        font-family: @m100;
        font-size: 30px;
        line-height: 40px;
        font-weight: 100;
        color: @111111;
        margin-bottom: 60px;
        .tac();

        @media only screen and (max-width : 1023px) {
          font-size: 25px;
          line-height: 30px;
          margin-bottom: 30px;
        }
      }

      .u-item{
        margin-bottom: 30px;
      }
    }

      .u-wd-1150{
        max-width: 1150px;
        margin: 0 auto;
      }

    .c-articles-detail__comments{
      .pr();
      background: #181818;
      background: -moz-linear-gradient(left,  #181818 0%, #1b1d22 100%);
      background: -webkit-linear-gradient(left,  #181818 0%,#1b1d22 100%);
      background: linear-gradient(to right,  #181818 0%,#1b1d22 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#181818', endColorstr='#1b1d22',GradientType=1 );
      margin-top: 60px;
      padding: 160px 25px 100px;
      z-index: 0;

      @media only screen and (max-width : 1023px) {
        padding-top: 80px;
        padding-bottom: 50px;
      }

      @media only screen and (max-width : 767px) {
        margin-top: 30px;
        padding-top: 50px;
      }

      @media only screen and (max-width : 374px) {
        padding-left: 15px;
        padding-right: 15px;
      }

      &:before{
        content: '';
        .pa();
        left: 0;
        top: -60px;
        right: 0;
        height: 100px;
        background-color: @ffffff;
        .transform(skew(0deg, -2deg));
        pointer-events: none;
        z-index: -1;

        @media only screen and (max-width : 767px) {
          display: none;
        }
      }
    }

      .u-section__comments__head{
        padding-bottom: 40px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);

        @media only screen and (max-width : 767px) {
          .tac();
        }
      }

        .u-section__comments__title{
          font-family: @m100;
          font-size: 25px;
          line-height: 35px;
          font-weight: 100;
          color: @ffffff;

          @media only screen and (max-width : 767px) {
            margin-bottom: 15px;
          }

          i{
            font-style: normal;
            margin-left: 10px;
          }
        }

        .u-section__comments__sort{
          .tar();

          @media only screen and (max-width : 767px) {
            .tac();
          }

          ul{
            list-style: none;
            padding: 0;
            margin: 0;

            li{
              display: inline-block;
              vertical-align: middle;
              padding: 0;
              margin: 0 12px;

              &:last-child{
                margin-right: 0;
              }
            }
          }
        }

        .u-comments__sort__label{
          display: block;
          padding: 0;
          margin: 0;
          .cur();
        }

          .u-comments__sort__input{
            display: none;

            &:not(:checked) + .u-comments__sort__section{
              
              .u-comments__sort__name{
                color: rgba(255, 255, 255, 0.2);
              }
            }

            &:checked + .u-comments__sort__section{
              
              .u-comments__sort__name{
                color: rgba(255, 255, 255, 1); 
              }
            }
          }

            .u-comments__sort__section{
              display: block;
            }

            .u-comments__sort__name{
              display: block;
              font-family: @m100;
              font-size: 16px;
              line-height: 30px;
              font-weight: 100;
              color: rgba(255, 255, 255, 0.2);
            }

      .u-section__comments__body{
        padding-top: 40px;
      }

        .u-section__comments__row{
          margin-bottom: 35px;
        }

          .u-section__comments__item{
            padding: 27px 0;

            @media only screen and (max-width : 767px) {
              padding-top: 20px;
              padding-bottom: 20px;
            }
          }

            .u-section__comments__artcle{
              display: flex;
              align-items: flex-start;
            }

              .u-section__comments__photo{
                .pr();
                flex: 0 0 65px;
                width: 65px;
                height: 65px;
                overflow: hidden;
                .r(50%);
                margin-top: -10px;
                margin-right: 45px;

                @media only screen and (max-width : 767px) {
                  margin-right: 15px;
                }

                img{
                  .el-center();
                }
              }

              .u-section__comments__section{
                
                p{
                  font-family: @m100;
                  font-size: 17px;
                  line-height: 30px;
                  font-weight: 100;
                  color: rgba(255, 255, 255, 0.4);
                  margin-bottom: 20px;

                  @media only screen and (max-width : 767px) {
                    font-size: 15px;
                  }
                }
              }

                .u-section__comments__name{
                  font-family: @m900;
                  font-size: 15px;
                  line-height: 20px;
                  font-weight: 900;
                  color: rgba(255, 255, 255, 1);
                }

                .u-section__comments__date{
                  font-family: @m100;
                  font-size: 12px;
                  line-height: 20px;
                  font-weight: 100;
                  color: rgba(255, 255, 255, 0.4);
                  .ttu();
                  margin-bottom: 25px;

                  @media only screen and (max-width : 767px) {
                    margin-bottom: 15px;
                  }
                }

                .u-section__comments__detail{
                  
                }

                  .u-section__comments__like{
                    font-family: @m100;
                    font-size: 16px;
                    line-height: 30px;
                    font-weight: 100;
                    color: rgba(255, 255, 255, 0.4);
                    margin-right: 30px;

                    @media only screen and (max-width : 767px) {
                      font-size: 14px;
                    }

                    i{
                      font-style: normal;
                      margin-left: 5px;
                    }
                  }

                  .u-section__comments__reply{
                    font-family: @m100;
                    font-size: 16px;
                    line-height: 30px;
                    font-weight: 100;
                    color: rgba(255, 255, 255, 0.4);
                    .cur();
                    transition: .2s ease;

                    @media only screen and (max-width : 767px) {
                      font-size: 14px;
                    }

                    &:hover{
                      color: @ffffff;
                    }

                    i{
                      font-style: normal;
                      margin-left: 5px;
                    }
                  }

      .u-section__comments__show__more{
        padding: 30px 15px;
        background-color: rgba(255, 255, 255, 0.05);
        .r(10px);
        .cur();
        .tac();
        margin-bottom: 30px;
        .user-select(none);
        transition: .2s ease;

        @media only screen and (max-width : 767px) {
          padding-top: 15px;
          padding-bottom: 15px;
        }

        &:hover{                    
          background-color: rgba(255, 255, 255, 0.1);

          span{
            color: @ffffff;
          }
        }

        span{
          .pr();
          display: inline-block;
          font-family: @m100;
          font-size: 18px;
          line-height: 25px;
          font-weight: 100;
          color: rgba(255, 255, 255, 0.2);
          .transition(.2s ease);

          @media only screen and (max-width : 767px) {
            font-size: 15px;
          }
        }
      }


      .u-section__comments__login{
        .tac();

        p{
          font-family: @m100;
          font-size: 17px;
          line-height: 25px;
          font-weight: 100;
          color: @646467;
          margin-bottom: 0;

          @media only screen and (max-width : 767px) {
            font-size: 15px;
          }
        }
      }

        .u-section__comments__login__link{
          display: inline-block;
          margin-bottom: 10px;

          &:hover{

            span{
              color: @ffffff;
              border-bottom-color: @ffffff;
            }
          }
          
          svg{
            color: @fdb72a;
            display: block;
            margin: 0 auto 10px;
          }

          span{
            font-family: @m100;
            font-size: 25px;
            line-height: 35px;
            font-weight: 100;
            color: @fdb72a;
            border-bottom: 1px solid rgba(253, 183, 42, 0.2);

            @media only screen and (max-width : 767px) {
              font-size: 20px;
              line-height: 30px;
            }
          }
        }

    .u-section__comments__write{

    }

      .u-form-comments{

        .u-form__item{
          .pr();
          margin-bottom: 30px;
        }

        .u-input-style{

          &.u-textarea-style{
            border: 0;
            display: block;
            padding: 25px 45px 0 45px;
            font-family: @m100;
            font-size: 18px;
            line-height: 30px;
            font-weight: 100;
            background-color: @ffffff;
            .r(10px);
            min-height: 85px;

            @media only screen and (max-width : 767px) {
              font-size: 15px;
              padding: 10px 15px;
            }
          }
        }

        .c-btn{

          &.u-btn-comments{
            display: block;
            width: 190px;
            margin: 0 auto;
            background-color: transparent;
          }
        }
      }

/*------------------------------------------------------------*/
/* XX - ARTICLES DETAIL PAY */
/*------------------------------------------------------------*/
  .c-articles-detail-pay{

    .u-style-box{
      padding-bottom: 110px;

      @media only screen and (max-width : 1023px) {
        padding-bottom: 30px;
      }
    }
  }

  .u-articles-detail-pay{
    padding: 58px 25px;
    background: #181818;
    background: -moz-linear-gradient(left,  #181818 0%, #1b1d22 100%);
    background: -webkit-linear-gradient(left,  #181818 0%,#1b1d22 100%);
    background: linear-gradient(to right,  #181818 0%,#1b1d22 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#181818', endColorstr='#1b1d22',GradientType=1 );
    .r(10px);
    .tac();

    @media only screen and (max-width : 374px) {
      padding-left: 15px;
      padding-right: 15px;
    }

    .u-icon-cart{
      color: @fdb72a;
      margin-bottom: 15px;
    }

    h1,
    .b-h1{
      font-size: 25px;
      line-height: 30px;
      color: @ffffff;
      margin-bottom: 10px;
    }

    .c-btn{
      margin: 10px 5px;
      max-width: 230px;
      width: 100%;
      padding-top: 14px;
      padding-bottom: 14px;
      display: inline-block;

      &.u-link-add-to-cart{
        color: @111111;
        
        &:hover{
          background-color: @ffffff;
        }
      }

      &.u-link-buy-one-click{
        
        &:hover{
          background: rgba(247, 247, 247, 0.85);
        }
      }
    }
  }

    .u-articles-detail-pay__price{
      font-family: @r;
      font-size: 25px;
      line-height: 30px;
      font-weight: 300;
      color: @fdb72a;
      margin-bottom: 15px;

      span{
        font-size: 20px;
      }
    }

  .c-articles-detail__pdd{
    padding-left: 25px;
    padding-right: 25px;

    @media only screen and (max-width : 374px) {
      padding-left: 15px;
      padding-right: 15px;
    }
  }