@import "../mix.less";
@import "../variables.less";
/*------------------------------------------------------------*/
/* XX - CART */
/*------------------------------------------------------------*/
  .c-inner__head{

    &.u-inner__cart{

      @media only screen and (max-width: 1023px){
        padding-bottom: 250px;
      }

      h1,
      .b-h1{
        margin-bottom: 0;
      }
    }

    &:before{
      content: '';
      .pa();
      left: 0;
      bottom: -130px;
      right: 0;
      height: 100px;
      background-color: @0d0d0d;
      .transform(skew(0deg, -2deg));
    }
  }

  .c-cart{
    .pr();
    z-index: 1;
    margin-top: -275px;

    @media only screen and (max-width : 1023px) {
      margin-top: -250px;
      padding-top: 50px;
    }

    hr{
      border: 0;
      border-top: 1px solid rgba(255, 255, 255, 0.3);
    }
  }

    .c-cart__section{
      background: #181818;
      background: -moz-linear-gradient(left,  #181818 0%, #1b1d22 100%);
      background: -webkit-linear-gradient(left,  #181818 0%,#1b1d22 100%);
      background: linear-gradient(to right,  #181818 0%,#1b1d22 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#181818', endColorstr='#1b1d22',GradientType=1 );
      .r(10px);
      padding: 70px 130px;
      min-height: 275px;

      @media only screen and (max-width : 1559px) {
        padding-left: 25px;
        padding-right: 25px;
      }

      @media only screen and (max-width : 1023px) {
        margin-left: -25px;
        margin-right: -25px;
      }

      @media only screen and (max-width : 767px) {
        padding-top: 30px;
        padding-bottom: 30px;
      }

      @media only screen and (max-width : 374px) {
        margin-left: -15px;
        margin-right: -15px;
        padding-left: 15px;
        padding-right: 15px;
      }
    }

    .c-cart__item{
      margin-bottom: 50px;
    }

      .c-cart__item__row{
        margin-left: -3px;
        margin-right: -3px;        
      }

        .c-cart__item__col{
          margin-top: 3px;
          margin-bottom: 3px;
          padding-left: 3px;
          padding-right: 3px;
        }

        .c-cart__item__article{
          display: block;
          height: 100%;          
          background-color: @ececec;
          .r(10px);

          &:hover{
            background: rgb(253,183,42);
            background: -moz-linear-gradient(left,  rgba(253,183,42,1) 0%, rgba(255,144,24,1) 100%);
            background: -webkit-linear-gradient(left,  rgba(253,183,42,1) 0%,rgba(255,144,24,1) 100%);
            background: linear-gradient(to right,  rgba(253,183,42,1) 0%,rgba(255,144,24,1) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdb72a', endColorstr='#ff9018',GradientType=1 );
          }

          .u-table{
            .pr();
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100%;
            padding: 25px 30px 25px 45px;

            @media only screen and (max-width : 767px) {
              display: block;
              padding: 30px 25px;
            }
          }

          .u-table-cell{
            padding: 15px 10px;

            @media only screen and (max-width : 767px) {
              .tac();
              padding: 10px 0;
            }

            &:first-child{
              padding-left: 0;
            }

            &:last-child{
              padding-right: 0;

              @media only screen and (max-width : 767px) {
                .pa();
                top: 0;
                right: 0;
                padding-left: 10px;
                padding-right: 10px;
              }
            }
          }

          .u-order__photo__link{
            flex: 0 0 65px;
            width: 65px;
            height: 65px;
          }

          .u-order__product__name{
            font-family: @m100;
            line-height: 16px;
            font-weight: 100;

            &:hover{
              color: @111111;
            }
          }

          .u-order-link__type{

          }

          .u-order-link__price{
            color: @111111;
          }

          .u-order__remove{

          }

          .u-order-link__remove{
            .pr();
            display: block;
            flex: 0 0 30px;
            width: 30px;
            height: 30px;
            color: rgba(17, 17, 17, 0.25);
            .cur();
            transition: .2s ease;

            &:hover{
              color: @111111;
            }

            svg{
              .el-center();
            }
          }
        }

    .c-cart__result__title{
      font-family: @m100;
      font-size: 30px;
      line-height: 40px;
      font-weight: 100;
      color: @ffffff;
      margin-bottom: 0;
      .tac();
    }

    .c-cart__result__price{
      .pr();
      font-family: @r;
      font-size: 25px;
      line-height: 25px;
      font-weight: 300;
      color: @fdb72a;
      margin-bottom: 30px;
      
      i{
        font-style: normal;
        font-size: 20px;
      }

      sup{
        display: none;
        .pa();
        top: 6px;
        margin-left: 20px;
        color: @ffffff;
        text-decoration: line-through;
        font-size: 15px;
      }
    }

    .c-cart__result{
      .tac();

      &.is-promocode{

        .u-cart-promo__percent,
        .u-cart-promo__remove{
          display: block;
        } 

        .c-cart__result__price{

          sup{
            display: inline;
          }
        }
      }

      p{
        font-family: @m100;
        font-size: 17px;
        line-height: 30px;
        font-weight: 100;
        color: rgba(255, 255, 255, 0.3);
        margin-bottom: 30px;
      }
    }

    .c-cart__result__form{
      .pr();
      margin-bottom: 70px;
    }

    .u-input-style-promocode{
      width: 100%;
      height: 85px;
      padding: 27px 90px;
      font-family: @m100;
      font-size: 17px;
      line-height: 30px;
      font-weight: 100;
      color: rgba(255, 255, 255, 0.3);
      background-color: rgba(255, 255, 255, 0.03);
      border: 0;
      .r(10px);
      .tac();
    }

    .u-cart-promo__percent{
      display: none;
      .pa();
      top: 30px;
      left: 40px;
      font-family: @m100;
      font-size: 18px;
      line-height: 30px;
      font-weight: 100;
      color: rgba(255, 255, 255, 0.3);
    }

    .u-cart-promo__remove{
      display: none;
      .pa();
      top: 30px;
      right: 30px;
      width: 30px;
      height: 30px;
      color: rgba(255, 255, 255, 0.3);
      transition: .2s ease;
      .cur();

      &:hover{
        color: rgba(255, 255, 255, 0.8);
      }

      svg{
        .el-center();
      }
    }

     .u-form-checkout{

      .c-cart__result__title{
        margin-bottom: 40px;
      }

      .u-form__item{
        .pr();
        margin-bottom: 15px;
      }

      .u-form__label{
        .pa();
        top: 35px;
        left: -125px;            
        width: 125px;
        padding: 0 40px 0 0;
        margin: 0;
        font-family: @m900;
        font-size: 15px;
        line-height: 20px;
        font-weight: 900;
        color: @ffffff;
        .tar();

        @media only screen and (max-width : 767px) {
          .pr();
          top: 0;
          left: 0;
          width: auto;
          margin-bottom: 15px;
          padding-left: 0;
        }
      }

      .u-input-style{
        padding: 30px 40px;
        background-color: @ffffff;
        color: @111111;
        height: 85px;
        .r(10px);

        @media only screen and (max-width : 767px) {
          font-size: 16px;
          padding: 21px 15px;
          height: 60px;
        }

        &.u-not-valid{
          color: @111111;
          
          &:focus{
            color: @111111;
          }
        }
      }

      .u-text-error{
        top: 100%;
        bottom: auto;
        font-family: @r;
        padding-left: 40px;
        padding-right: 40px;
        line-height: 15px;
        margin-top: -20px;

        @media only screen and (max-width : 767px) {
          padding-left: 15px;
          padding-right: 15px;
        }
      }
    }

    .c-btn{

      &.u-btn-checkout{
        display: block;
        margin: 40px auto 0;
        max-width: 200px;
        width: 100%;
        padding-top: 19px;
        padding-bottom: 19px;
        height: 65px;
        .r(32px);
        color: @111111;

        &:hover{
          background-color: @ffffff;
          color: @111111;
        }
      }
    }

    .u-radio__checkout__list{
      margin-bottom: 50px;

      @media only screen and (max-width : 767px) {
        margin-bottom: 30px;
      }

      li{

        &:first-child{
          
          .u-radio__test__section{
            .r4(10px, 0, 0, 10px);
          }
        }

        &:last-child{
          
          .u-radio__test__section{
            .r4(0, 10px, 10px, 0);
          }
        }
      }

      .u-radio__test__input{

        &:not(:checked) + .u-radio__test__section{
          box-shadow: 0px 0px 0px 1px rgba(255, 255, 255, 0.3);

          .u-radio__test__name{
            color: @ffffff;
          }
        }

        &:checked + .u-radio__test__section{
          box-shadow: 0px 0px 0px 1px @fdb72a;

          .u-radio__test__name{
            color: @fdb72a;
          }
        }
      }

      .u-radio__test__section{
        box-shadow: 0px 0px 0px 1px rgba(255, 255, 255, 0.3);
        height: 110px;
      }

      .u-radio__test__box{
        top: 20px;
        right: 20px;
      }

      .u-radio__test__name{
        font-size: 17px;
        color: @ffffff;

        @media only screen and (max-width : 767px) {
          max-width: 80%;
          .tac();
        }
      }
    }

    .c-checkout__tabs__section{
      display: none;

      &.is-active{
        display: block;
      }
    }

    .u-section__checkout{
      padding-top: 25px;
      margin-bottom: 60px;
    }

    .u-section__payment{
      margin-bottom: 40px;
      .tac();

      p{
        font-family: @m100;
        font-size: 15px;
        line-height: 25px;
        font-weight: 100;
        color: rgba(255, 255, 255, 0.3);
        margin-bottom: 25px;
      }

      .u-radio__checkout__list{
        margin-bottom: 30px;
      }
    }

    .u-form-agreement{
      .tal();

      &.u-not-valid{
        .u-checkbox__agreement__box{
          box-shadow: 0px 0px 0px 1px #ff4e4e;
        }

        .u-checkbox__agreement__name{
          color: #ff4e4e;

          a{
            color: #ff4e4e;
            border-bottom-color: #ff4e4e;

            &:hover{
              border-bottom-color: transparent;
            }
          }
        }
      }

      &.is-form-agreement{

        .u-checkbox__agreement__box{
          box-shadow: 0px 0px 0px 1px @000000;
        }

        .u-checkbox__agreement__name{
          color: @000000;
          font-family: @m300;
          font-weight: 300;

          a{
            font-family: @m300;
            font-weight: 300;
            color: @000000;
            border-bottom: 1px solid rgba(0, 0, 0, 0.3);

            &:hover{
              border-bottom-color: transparent;
            }
          }
        }
      }
    }

      .u-checkbox__agreement__label{
        display: inline-block;
        padding: 0;
        margin: 0;
      }

      .u-checkbox__agreement__input{
        display: none;

        &:not(:checked) + .u-checkbox__agreement__section{

          .u-checkbox__agreement__box{
            color: transparent;
          }
        }

        &:checked + .u-checkbox__agreement__section{

          .u-checkbox__agreement__box{
            color: @0d0d0d;
          }
        }
      }

      .u-checkbox__agreement__section{
        .pr();
        padding-left: 30px;
        display: block;
        .cur();
      }

        .u-checkbox__agreement__box{
          .pa();
          display: block;
          top: 2px;
          left: 0;
          width: 20px;
          height: 20px;
          .r(3px);
          background-color: @ffffff;
          overflow: hidden;
          color: transparent;

          svg{
            .el-center();
          }
        }

        .u-checkbox__agreement__name{
          display: block;
          font-family: @m100;
          font-size: 15px;
          line-height: 25px;
          font-weight: 100;
          color: rgba(255, 255, 255, 0.3);

          a{
            color: @ffffff;
            border-bottom: 1px solid rgba(255, 255, 255, 0.3);
          }
        }