@import "../mix.less";
@import "../variables.less";
/*------------------------------------------------------------*/
/* XX - CONTACTS */
/*------------------------------------------------------------*/
  .c-inner__head{

    &.u-inner__contacts{
      min-height: 725px;
      padding-bottom: 40px;

      @media only screen and (max-width : 767px) {
        background-position-x: 65%;
      }

      .c-inner__head__section{
        
        @media only screen and (max-width : 1023px) {
          margin-bottom: 30px;
        }

        p{
          font-size: 17px;
          line-height: 30px;
          margin-bottom: 0;

          @media only screen and (max-width : 1023px) {
            font-size: 15px;
          }
        }
      }

      .u-inner__head__style{
        margin-bottom: 45px;

        @media only screen and (max-width : 1023px) {
          margin-bottom: 30px;
        }

        h1,
        .b-h1{
          margin-bottom: 30px;
        }

        a{
          display: inline;
          word-break: break-all;
          font-size: 35px;
          line-height: 40px;
          color: @fdb72a;
          margin-bottom: 30px;
          border-bottom: 1px solid rgba(253, 183, 42, 0.15);

          @media only screen and (max-width : 1023px) {
            font-size: 25px;
          }

          @media only screen and (max-width : 767px) {
            font-size: 20px;
          }

          &:hover{
            border-bottom-color: rgba(253, 183, 42, 1);
          }
        }

        p{
          color: @ffffff;
        }
      }

      .u-width-240{
        @media only screen and (max-width : 1023px) {
          padding-top: 0;
        }
      }

      .u-tar{

        @media only screen and (max-width : 1023px) {
          .tal();
        }
      }
    }
  }

  .c-contacts__feedback{
    max-width: 760px;
    padding: 65px 130px;
    background-color: @ffffff;
    .r(10px);

    @media only screen and (max-width : 1199px) {
      padding-left: 60px;
      padding-right: 60px;
    }

    @media only screen and (max-width : 1023px) {
      padding: 50px 30px;
      max-width: inherit;
      margin-left: -25px;
      margin-right: -25px;
      .r(0);
    }

    @media only screen and (max-width : 767px) {
      padding-top: 35px;
      padding-bottom: 35px;
    }

    @media only screen and (max-width : 374px) {     
      margin-left: -15px;
      margin-right: -15px;
    }
  }

    .u-form-contacts{

      .u-form__title{
        font-size: 35px;
        line-height: 45px;
        color: @111111;
        margin-bottom: 30px;

        @media only screen and (max-width : 1023px) {
          font-size: 30px;
        }

        @media only screen and (max-width : 767px) {
          font-size: 25px;
        }
      }

      .u-form-label{
        padding: 0;
        margin: 0;
        font-family: @m300;
        font-size: 12px;
        line-height: 22px;
        font-weight: 300;
        color: rgba(17, 17, 17, 1);
        .ttu();
      }

      select{
        font-size: 20px;
        line-height: 30px;
        padding-bottom: 20px;
        color: @111111;
        border-bottom: 1px solid rgba(17, 17, 17, 0.1);
      }

      .u-input-style{
        font-size: 20px;
        line-height: 30px;
        padding-bottom: 20px;
        color: @111111;
        border-bottom: 1px solid rgba(17, 17, 17, 0.1);

        &.u-not-valid{
          color: #cc0000;
          border-bottom-color: #cc0000;

          &:focus{
            color: @111111;
            border-bottom-color: rgba(17, 17, 17, 0.1);
          }
        }
      }

      .u-form-item{
        margin-bottom: 47px;

        @media only screen and (max-width : 767px) {
          margin-bottom: 30px;
        }

        &.u-form-item-last{
          margin-bottom: 0;

          @media only screen and (max-width : 1023px) {
            .tac();
          }
        }
      }

      .u-btn-submit{
        width: 180px;

        @media only screen and (max-width : 567px) {
          width: 100%;
        }
      }
    }