@import "../mix.less";
@import "../variables.less";
/*------------------------------------------------------------*/
/* XX - FOLLOW */
/*------------------------------------------------------------*/
  .c-follow{
    .pr();
  	padding: 80px 0;
  	background: url(../img/follow/follow_bg.jpg) center no-repeat;
  	background-size: cover;

    @media only screen and (max-width : 1023px) {
      padding-top: 50px;
      padding-bottom: 50px;
    }

    @media only screen and (max-width : 767px) {
      padding-top: 30px;
      padding-bottom: 30px;
    }

		h2,
		.b-h2{
			font-family: @m100;
			font-size: 40px;
			line-height: 50px;
			font-weight: 100;
			color: @ffffff;
			margin-bottom: 40px;
			.tac();

      @media only screen and (max-width : 1023px) {
        font-size: 30px;
        line-height: 40px;
        margin-bottom: 30px;
      }

      @media only screen and (max-width : 767px) {
        margin-bottom: 15px;
      }
		}
  }

  	.c-follow__photo{
  		.pr();
  		margin: 0 auto -50px;
  		width: 100px;
  		height: 100px;
  		overflow: hidden;
  		.r(50%);
  		z-index: 1;

      @media only screen and (max-width : 767px) {
        margin-bottom: -40px;
        width: 80px;
        height: 80px;
      }

  		img{
  			.el-center();
  		}
  	}

  	.c-follow__section{
      margin-left: -10px;
      margin-right: -10px;
      padding: 20px 10px;
  		background: #181818;
      background: -moz-linear-gradient(left,  #181818 0%, #1b1d22 100%);
      background: -webkit-linear-gradient(left,  #181818 0%,#1b1d22 100%);
      background: linear-gradient(to right,  #181818 0%,#1b1d22 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#181818', endColorstr='#1b1d22',GradientType=1 );
  		margin-bottom: 20px;
      .r(10px);

      @media only screen and (max-width : 1023px) {
        padding-top: 75px;
        padding-bottom: 40px;
      }

      @media only screen and (max-width : 767px) {
        padding-top: 50px;
        padding-bottom: 20px;
        margin-bottom: 0;
      }

  		p{
  			font-family: @m100;
				font-size: 15px;
				line-height: 30px;
				font-weight: 100;
				color: rgba(255, 255, 255, 0.4);
				margin-bottom: 0;

        @media only screen and (max-width : 1199px) {
          font-size: 12px;
        }

        @media only screen and (max-width : 1023px) {
          display: none;
        }
  		}
  	}

  		.c-follow__section__row{
  			display: block;
  			margin-left: -10px;
        margin-right: -10px;
  			height: 100%;
  			table-layout: fixed;
        font-size: 0;

        @media only screen and (max-width : 1023px) {
          display: block;
        }
  		}

  			.c-follow__section__item{
          .pr();
          width: 16.66666666%;
          padding-left: 10px;
          padding-right: 10px;
  				display: inline-block;
  				vertical-align: top;
  				.tac();

          &:before{
            content: '';
            .pa();
            top: 50px;
            left: -1px;
            width: 1px;
            bottom: 50px;
            background-color: rgba(255, 255, 255, 0.2);
          }

          @media only screen and (min-width : 1024px) {
            &:first-child{
              &:before{
                content: none;
              }
            }
          }

          @media only screen and (max-width : 1023px) {
            display: inline-block;
            width: 50%;
            // padding-top: 45px;
            padding-top: 0;
            padding-bottom: 0;

            &:before{
              top: 0;
              bottom: 0;
            }

            &:nth-child(2n + 1){
              &:before{
                content: none;
              }
            }

            &:nth-child(-n + 2){
              padding-top: 0;
            }
          }
  			}

          .u-follow-link{
            .pr();
            display: block;
            padding: 55px 10px;
            background-color: transparent;
            .r(10px);

            @media only screen and (max-width : 1023px) {
              padding-top: 15px;
              padding-bottom: 15px;
            }

            @media only screen and (max-width : 767px) {
              padding-top: 5px;
              padding-bottom: 5px;
            }

            &:hover{
              
              .c-follow__icon{
                color: @ffffff;
              }

              .c-follow__name__link{
                color: @ffffff;
              }

              &.is-link-youtube{
                background: @ff0000;
              }

              &.is-link-instagram{
                background: url(../img/icon/bg-inst.png) center no-repeat;
                background-size: cover;
              }

              &.is-link-vk{
                background: #4b6f9c;
              }

              &.is-link-facebook{
                background: #26478d;
              }

              &.is-link-ok{
                background: #ea7c2a;
              }

              &.is-link-google{
                background: #f05345;
              }
            }            
          }

  				.c-follow__icon{
  					.pr();
  					margin: 0 auto 30px;
  					display: block;
  					width: 40px;
  					height: 40px;
  					color: @fdb72a;

            @media only screen and (max-width : 1023px) {
              margin-bottom: 0;
            }

  					svg,
  					img{
  						.el-center();
              transition: .4s ease;
  					}
  				}

  				.c-follow__name{

  				}

  					.c-follow__name__link{
							font-family: @m900;
							font-size: 16px;
							line-height: 30px;
							font-weight: 900;
							color: @ffffff;
							.ttu();
              .transition(.2s ease);

              @media only screen and (max-width : 1199px) {
                font-size: 12px;
              }

              @media only screen and (max-width : 1023px) {
                font-size: 10px;
                line-height: 18px;
              }
  					}