@import "../mix.less";
@import "../variables.less";
/*------------------------------------------------------------*/
/* 03 - FOOTER */
/*------------------------------------------------------------*/
  .c-footer{

		p{
			font-family: @m100;
			font-size: 15px;
			line-height: 30px;
			font-weight: 100;
			color: rgba(255, 255, 255, 0.4);
			margin-bottom: 0;
		}
  }

  	.c-footer__top{
  		background-color: @fdb72a;

      @media only screen and (max-width : 1023px) {
        display: none;
      }
  	}

  		.c-footer__top__nav{

  			ul{
  				list-style: none;
  				padding: 0;
  				margin: 0;
  				display: table;
  				width: 100%;

  				li{
  					padding: 0;
            margin: 0;
  					display: table-cell;
  					vertical-align: middle;
  					.tac();

  					a{
  						display: block;
              padding: 25px 0;
  						font-family: @m100;
  						font-size: 18px;
  						line-height: 30px;
  						font-weight: 100;
  						color: @0d0d0d;
              background-color: transparent;

              @media only screen and (max-width : 1199px) {
                font-size: 15px;
              }

  						&:hover{
  							color: @0d0d0d;
                background-color: @ffffff;
  						}
  					}
  				}
  			}
  		}

      .u-link-sign-up__mobile{
        display: none;
        width: 100%;
        height: 80px;
        padding: 25px 15px;
        font-family: @m900;
        font-size: 12px;
        line-height: 30px;
        font-weight: 900;
        color: @0d0d0d;
        background-color: @fdb72a;
        .ttu();
        .tac();

        @media only screen and (max-width : 1023px) {
          display: block;
        }

        &:hover{
          color: @0d0d0d;
          background-color: @ffffff;
        }
      }

  	.c-footer__bottom{

  	}

  		.c-footer__bottom__form{
  			padding: 57px 0 58px;
				.tac();

        @media only screen and (max-width : 767px) {
          padding-top: 30px;
          padding-bottom: 30px;
        }

        .u-width-500{
          margin-top: 0;
        }
  		}

  			.u-width-500{
  				max-width: 500px;
  				margin: 0 auto;
  			}

  			.u-form__title{
  				font-family: @m100;
  				font-size: 28px;
  				line-height: 38px;
  				font-weight: 100;
  				color: @ffffff;
  				margin-bottom: 17px;

          @media only screen and (max-width : 1023px) {
            font-size: 25px;
          }

          @media only screen and (max-width : 767px) {
            margin-bottom: 5px;
          }
  			}

  			.u-form-keep-update{

  				.u-form-item{
  					margin-bottom: 20px;
  				}

  				.u-input-style{
  					width: 100%;
  					height: 74px;
  					padding: 25px 130px 25px 17px;
  					color: @ffffff;
  					border-bottom: 2px solid @ffffff;

            &.u-not-valid{
              border-bottom-color: #cc0000;

              &:focus{
                border-bottom-color: @ffffff;
              }
            }

  					.placeholder({
			        color: @ffffff;
			      });
  				}
  			}

  				.u-btn-keep-update{
  					.pa();
  					top: 0;
  					right: 0;
  					width: 130px;
  					height: 74px;
  					padding: 25px 17px;
  					font-family: @m900;
  					font-size: 12px;
  					line-height: 22px;
  					font-weight: 900;
  					color: @fdb72a;
  					.ttu();
            .r(0);
  					z-index: 1;
  					border-bottom: 2px solid @fdb72a;
  					background-color: transparent;

            &:hover{
              border-bottom-width: 6px;
            }
  				}

  		.c-footer__bottom__dev{
  			padding: 15px 0;
				border-top: 1px solid rgba(255, 255, 255, 0.1);
				border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  		}

  			.u-footer__item{
  				padding-top: 20px;
  				padding-bottom: 20px;
					.tac();

          @media only screen and (max-width : 767px) {
            padding-top: 0;
            padding-bottom: 0;
          }

					&.u-footer__item__dev{
						.tal();

            @media only screen and (max-width : 991px) {
              display: none;
            }
					}

					&.u-footer__item__signup{
						.tar();

            @media only screen and (max-width : 991px) {
              display: none;
            }
					}
  			}

  			.c-footer__dev{
  				font-family: @m100;
					font-size: 15px;
					line-height: 30px;
					font-weight: 100;
					color: rgba(255, 255, 255, 0.4);

          &.is-mobile{
            display: none;

            @media only screen and (max-width : 1023px) {
              display: inline-block;
            }
          }

					&:hover{
						color: @ffffff;
					}

          svg{
            margin-left: 5px;

            @media only screen and (max-width : 1023px) {
              margin-left: 0;
            }
          }
  			}

  				.fx-color-white{
  					fill: @ffffff;
  				}

  				.fx-color-orange{
  					fill: @fdb72a;
  				}

  				.u-link-sign-up{
  					font-family: @m900;
						font-size: 12px;
						line-height: 30px;
						font-weight: 900;
						color: @ffffff;
						.ttu();

						&:hover{
							color: @fdb72a;
						}
  				}