@import "../mix.less";
@import "../variables.less";
/*------------------------------------------------------------*/
/* XX - GLOSSARY */
/*------------------------------------------------------------*/
.c-inner__head{

  &.u-inner__glossary{
    min-height: 655px;

    @media only screen and (max-width : 1023px) {
      min-height: auto;
    }

    &:before{
      content: '';
      .pa();
      left: 0;
      bottom: -130px;
      right: 0;
      height: 100px;
      background-color: @0d0d0d;
      .transform(skew(0deg, -2deg));
    }
  }
}

.c-glossary{
  padding-bottom: 100px;

  @media only screen and (max-width : 1023px) {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  @media only screen and (max-width : 767px) {
    padding-bottom: 15px;
  }
}

  .c-glossary__section{
    .pr();
    padding: 25px 130px;
    background-color: @ffffff;
    z-index: 0;

    @media only screen and (max-width : 1199px) {
      padding-left: 60px;
      padding-right: 60px;
    }

    @media only screen and (max-width : 1023px) {
      padding-left: 25px;
      padding-right: 25px;
      margin-left: -25px;
      margin-right: -25px;
    }

    @media only screen and (max-width : 374px) {
      padding-left: 15px;
      padding-right: 15px;
      margin-left: -15px;
      margin-right: -15px;
    }

    &:before{
      content: '';
      .pa();
      left: 0;
      top: -60px;
      right: 0;
      height: 100px;
      background-color: @ffffff;
      .transform(skew(0deg, -2deg));
      pointer-events: none;
      z-index: -1;

      @media only screen and (max-width : 1023px) {
        top: -20px;
        height: 50px;
      }
    }
  }

    .c-glossary__abc{
      padding-bottom: 40px;
      border-bottom: 1px solid rgba(13, 13, 13, 0.2);
      margin-bottom: 30px;
      .tac();

      @media only screen and (max-width : 1023px) {
        .tal();
      }

      ul{
        list-style: none;
        padding: 0;
        margin: 0;
        font-size: 0;

        li{
          padding: 0 30px 0 0;
          margin: 0;
          display: inline-block;
          vertical-align: middle;

          &:last-child{
            padding-right: 0;
          }

          &.is-active{

            a{
              color: @fdb72a;
            }
          }

          a{
            display: inline-block;
            font-family: @m700;
            font-size: 17px;
            line-height: 30px;
            font-weight: 700;
            color: @111111;
            .ttu();

            @media only screen and (max-width : 1023px) {
              font-size: 15px;
            }

            &:hover{
              color: @fdb72a;
            }
          }
        }
      }
    }

    .c-glossary__all{
    
    }

      .c-glossary__all__item{
        padding: 50px 0;

        @media only screen and (max-width : 1199px) {
          padding-top: 30px;
          padding-bottom: 30px;
        }

        @media only screen and (max-width : 767px) {
          padding: 15px;
        }

        &:nth-child(even){
          background-color: @ececec;
        }
      }

        .c-glossary__all__letter{
          padding-right: 10px;
          font-family: @m100;
          font-size: 40px;
          line-height: 50px;
          font-weight: 100;
          color: @111111;
          .ttu();
          .tac();

          @media only screen and (max-width : 1199px) {
            font-size: 30px;
          }

          @media only screen and (max-width : 767px) {
            font-size: 25px;
            padding-right: 0;
          }
        }

        .c-glossary__all__list{
          padding-left: 40px;

          @media only screen and (max-width : 1559px) {
            padding-left: 0;
          }

          ul{
            list-style: none;
            padding: 0;
            margin: 0;
            font-size: 0;

            li{
              padding: 0 15px 0 0;
              margin: 10px 0;
              display: inline-block;
              vertical-align: top;
              width: 25%;

              @media only screen and (max-width : 1199px) {
                width: 33.33%;
              }

              @media only screen and (max-width : 1023px) {
                width: 50%;
              }

              @media only screen and (max-width : 767px) {
                display: block;
                width: 100%;
                padding-right: 0;
              }

              a{
                font-family: @m100;
                font-size: 18px;
                line-height: 30px;
                font-weight: 100;
                color: @111111;

                @media only screen and (max-width : 1199px) {
                  font-size: 15px;
                }

                &:hover{
                  color: @fdb72a;
                }
              }
            }
          }
        }