@import "../mix.less";
@import "../variables.less";
/*------------------------------------------------------------*/
/* 02 - HEADER */
/*------------------------------------------------------------*/
  .c-header{
  	.pf();
  	top: 0;
  	left: 0;
  	padding-top: 25px;
  	padding-bottom: 25px;
  	width: 100%;
  	min-width: 320px;
		height: 135px;
		z-index: 3;
    .transition(.2s ease-in);

    @media only screen and (max-width : 1199px) {
      padding-top: 15px;
      padding-bottom: 15px;
      height: 115px;
    }

    @media only screen and (max-width : 1023px) {
      padding-top: 5px;
      padding-bottom: 5px;
      height: 70px;
      // background-color: @1c1c22;
    }

    &:after{
      content: '';
      .pa();
      left: 0;
      bottom: 0;
      right: 0;
      height: 1px;
      background-color: rgba(255, 255, 255, 0.1);
    }

    &.is-sticky{
      padding-top: 5px;
      padding-bottom: 5px;
      background-color: @1c1c22;
      height: 95px;

      @media only screen and (max-width : 1023px) {
        height: 70px;
      }
    }

		.container{
			height: 100%;
		}
  }

  .c-wrapper{

    &.is-open{

      .c-header{
        background-color: @1c1c22;
      }

      .c-header__menu__close{
        display: block;
      }

      .c-header__nav{
        opacity: 0;
        visibility: hidden;
        z-index: -1;
      }

      .c-header__menu{
        opacity: 1;
        visibility: visible;        
        
        @media only screen and (max-width : 1023px) {
          .transform(translateX(0));
          z-index: 1;
        }
      }

      .u-overlay{
        display: block;

        @media only screen and (max-width : 1023px) {
          display: none;
        }
      }
    }
  }

  .u-overlay{
    display: none;
    .pf();
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(21, 21, 21, 0.6);
  }

  	.c-header__row{
			display: table;
			width: 100%;
			height: 100%;
  	}

  		.c-header__item{
  			padding: 15px 10px;
  			display: table-cell;
  			vertical-align: middle;

        @media only screen and (max-width : 767px) {
          padding-left: 0;
          padding-right: 0;
        }

  			&:first-child{
  				padding-left: 0;
  			}
  		}

  		.c-header__item__logo{
  			width: 324px;

        @media only screen and (max-width : 1559px) {
          width: 220px;
        }

        @media only screen and (max-width : 1023px) {
          display: none;
        }
  		}

        .c-header__logo{

          img{
            max-width: 100%;
            height: auto;
          }
        }

      .c-header__item__menu{
        .pr();
      }

  			.c-header__nav{
  				.pr();
  				display: inline-block;
          vertical-align: middle;

          @media only screen and (max-width : 1023px) {
            display: none;
          }

  				ul{
  					list-style: none;
  					padding: 0;
  					margin: 0;

  					li{
  						display: inline-block;
  						vertical-align: middle;
  						margin-right: 35px;

              @media only screen and (max-width : 1559px) {
                margin-right: 15px;
              }

  						a{
  							font-family: @m300;
  							font-size: 17px;
  							line-height: 30px;
  							font-weight: 300;
  							color: @ffffff;

                @media only screen and (max-width : 1559px) {
                  font-size: 15px;
                }

  							&:hover{
									color: @fdb72a;
								}
  						}
  					}
  				}
  			}

  				.c-header__nav__icon{
            display: inline-block;
            vertical-align: middle;
            .cur();

            &.is-hidden{
              opacity: 0;
              visibility: hidden;
              z-index: -1;
              pointer-events: none;
            }

            &:hover{
              color: @fdb72a;

              .c-header__nav__icon__link{
                color: @fdb72a;                
              }
            }

            svg{
              .el-center();
            }
					}

            .c-header__nav__icon__link{
              margin-right: 25px;
              display: inline-block;
              vertical-align: middle;
              font-family: @m300;
              font-size: 17px;
              line-height: 30px;
              font-weight: 300;
              color: @ffffff;
              .transition(.2s ease);

              @media only screen and (max-width : 1559px) {
                font-size: 15px;
              }

              @media only screen and (max-width : 1023px) {
                display: none;
              }
            }

            .c-header__nav__icon__figure{
              display: inline-block;
              vertical-align: middle;
              .pr();
              width: 30px;
              height: 30px;
              color: @fdb72a;
              .transition(.2s ease);
            }

  		.c-header__item__option{
  			.tar();
  		}

  			.c-header__option__list{
  				list-style: none;
					padding: 0;
					margin: 0;
					display: inline-block;
          margin-left: 45px;

          @media only screen and (max-width : 1559px) {
            margin-left: 10px;
          }

          @media only screen and (max-width : 767px) {
            margin-right: -5px;
            margin-left: 0;
          }

					li{
            .pr();
						display: inline-block;
						vertical-align: middle;
						margin: 0 17px;

            @media only screen and (max-width : 1559px) {
              margin-left: 10px;
              margin-right: 10px;
            }

            @media only screen and (max-width : 767px) {
              margin-left: 33px;
              margin-right: 33px;
            }

            &:first-child{

              @media only screen and (max-width : 767px) {
                margin-left: 0;
              }
            }

						&:last-child{
							margin-right: 0;
						}

						.u-header__option__link{
							.pr();
							display: block;
							width: 30px;
							height: 30px;
							font-family: @m300;
							font-size: 17px;
							line-height: 30px;
							font-weight: 300;
							color: @ffffff;
              .cur();
              transition: .2s ease;

							&:hover{
								color: @fdb72a;

                i{
                  background-color: @ffffff;
                }
							}

							svg,
							img{
								.el-center();
							}

							i{
								.pa();
								top: -3px;
								right: -10px;
								display: block;
								width: 20px;
								height: 20px;
								font-style: normal;
								.r(50%);
								overflow: hidden;
								font-family: @m500;
								font-size: 12px;
								line-height: 20px;
								font-weight: 500;
								color: @111111;
								background-color: @fdb72a;
								.tac();
								z-index: 1;

                @media only screen and (max-width : 767px) {
                  font-size: 11px;
                }

                @media only screen and (max-width : 374px) {
                  right: -4px;
                }
							}
						}
					}
  			}

        .u-link-login__dropdown{
          .pa();
          top: 100%;
          left: 50%;
          margin-left: -110px;
          width: 220px;
          padding-top: 25px;
          opacity: 0;
          visibility: hidden;
          z-index: -1;
          transition: .2s ease;
          margin-top: -30px;

          @media only screen and (max-width : 1559px) {
            width: 200px;
            margin-left: -100px
          }

          @media only screen and (max-width : 1023px) {
            padding-top: 20px;
          }

          &.is-open{
            opacity: 1;
            visibility: visible;
            z-index: 2;
            margin-top: 0;
          }

          ul{
            .pr();
            list-style: none;
            padding: 30px 40px;
            margin: 0;
            background-color: @ececec;
            .r(10px);

            @media only screen and (max-width : 1559px) {
              padding-left: 30px;
              padding-right: 30px;
            }

            &:before{
              content: '';
              .pa();
              top: -7px;
              left: 0;
              right: 0;
              margin: auto;
              width: 0;
              height: 0;
              border-style: solid;
              border-width: 0 7.5px 8px 7.5px;
              border-color: transparent transparent @ffffff transparent;
            }

            li{
              display: block;
              padding: 0;
              margin: 0 0 10px;
              .tal();

              &:last-child{
                margin-bottom: 0;
              }

              a{
                display: inline-block;
                font-family: @m300;
                font-size: 15px;
                line-height: 25px;
                font-weight: 300;
                color: @111111;

                &:hover{
                  color: @fdb72a;
                }
              }
            }
          }
        }
  
  			.u-btn-sign-up{
  				width: 150px;
  				height: 55px;

          &.is-desktop{
            display: inline-block;

            @media only screen and (max-width : 1199px) {
              display: none;
            }
          }

          &.is-mobile{
            width: 205px;
            display: none;

            @media only screen and (max-width : 1023px) {
              display: inline-block;
            }
          }
  			}

  .c-header__menu{
  	.pa();
  	top: 100%;
  	left: 0;
  	width: 100%;
  	background-color: @1c1c22;
    opacity: 0;
    visibility: hidden;
  	z-index: -1;
    .transition(.2s ease-in);

    @media only screen and (max-width : 1023px) {
      position: fixed;
      top: 70px;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      background-color: @1c1c22;
      .transition(0.3s ease all);
      .transform(translateX(-100%));
    }

    ul{
      list-style: none;
      padding: 0;
      margin: 0;

      @media only screen and (max-width : 1023px) {
        margin-top: 30px;
        display: none;
      }

      li{
        padding: 0;
        margin: 0 0 5px;

        @media only screen and (max-width : 1023px) {
          margin-bottom: 10px;
        }

        a{
          font-family: @m300;
          font-size: 17px;
          line-height: 30px;
          font-weight: 300;
          color: rgba(255, 255, 255, 0.4);

          @media only screen and (max-width : 1023px) {
            font-size: 16px;
          }

          &:hover{
            color: @ffffff;
          }
        }
      }
    }
  }

    .c-header__menu__row{

      //@media only screen and (max-width : 1023px) {
        overflow-y: auto;
        display: block;
        width: auto;
        height: 100%;
      //}
    }

  	.c-header__menu__section{
  		max-width: 1021px;
  		margin: 0 auto;
      padding: 50px 0 80px;

      @media only screen and (max-width : 1023px) {
        padding: 40px 40px 0 60px;
      }
  	}

    .c-header__menu__close{
      display: none;
      .pa();
      top: 50%;
      left: 50%;
      .transform(translate(-50%, -50%));
      width: 20px;
      height: 20px;
      .transition(.2s ease);
      .cur();
      color: @ffffff;
      z-index: 1;

      @media only screen and (max-width : 1023px) {
        top: 20px;
        left: 5px;
        .transform(translate(0, 0));
        color: @fdb72a;
      }

      &:hover{
        color: @fdb72a;
      }

      svg,
      img{
        .el-center();
      }
    }

      .c-header__menu__item{
        padding-top: 22px;
        padding-bottom: 22px;

        @media only screen and (max-width : 1023px) {
          padding-top: 0;
          margin-bottom: 0;
          padding-bottom: 30px;
        }
        
        &.u-item-hidden{

          @media only screen and (max-width : 1023px) {
            display: none;
          }
        }

        &.is-open{

          .expland{

            svg{
              .transform(rotate(180deg));
            }
          }
        }
      }

        .c-header__menu__title{
          .pr();
          min-height: 60px;
          margin-bottom: 30px;

          @media only screen and (max-width : 1023px) {
            min-height: auto;
            margin-bottom: 0;
          }

          a{
            font-family: @m100;
            font-size: 23px;
            line-height: 30px;
            font-weight: 100;
            color: @ffffff;

            @media only screen and (max-width : 1023px) {
              font-size: 18px;
            }

            &:hover{
              color: @fdb72a;
            }
          }
        }

          .expland{
            display: none;
            .pa();
            top: 0;
            left: -62px;
            width: 30px;
            height: 30px;            
            z-index: 1;
            .transition(.2s eaae);
            color: #626264;
            .cur();

            @media only screen and (max-width : 1023px) {
              display: block;
            }

            svg{
              .el-center();
              .transform(rotate(0deg));
            }
          }

      .c-header__menu__social{

        @media only screen and (max-width : 1023px) {
          display: none;
        }

        ul{
          list-style: none;
          padding: 0;
          margin: 0;
          display: table;
          table-layout: fixed;
          width: 100%;
          height: 100%;
          border-collapse: collapse;

          li{
            display: table-cell;
            vertical-align: middle;
            border: 1px solid @262626;
            height: 100px;
            .tac();

            a{
              padding: 35px 5px;
              display: block;
              font-family: @m100;
              font-size: 15px;
              line-height: 30px;
              font-weight: 100;
              width: 100%;              
              color: @ffffff;

              @media only screen and (max-width : 1023px) {
                font-size: 16px;
              }

              &:hover{
                color: @ffffff;
              }

              &.is-link-youtube{
                
                &:hover{
                  background: #ff0000;
                }
              }

              &.is-link-instagram{

                &:hover{
                  background: url(../img/icon/bg-inst.png) center no-repeat;
                  background-size: cover;
                }
              }

              &.is-link-vk{
                
                &:hover{
                  background: #4b6f9c;
                }
              }

              &.is-link-facebook{
                
                &:hover{
                  background: #26478d;
                }
              }

              &.is-link-ok{
                
                &:hover{
                  background: #ea7c2a;
                }
              }

              &.is-link-google{
                
                &:hover{
                  background: #f05345;
                }
              }
            }

            svg{
              display: inline-block;
              vertical-align: middle;
              margin-right: 10px;
            }

            span{
              display: inline-block;
              vertical-align: middle;
            }
          }
        }
      }