@import "../mix.less";
@import "../variables.less";
/*------------------------------------------------------------*/
/* XX - POPUPS */
/*------------------------------------------------------------*/
  //magnific-popup-effects
    /* 
    ====== Zoom effect ======
    */
      .mfp-zoom-in {
          /* start state */
          .mfp-with-anim {
              opacity: 0;
              transition: all 0.2s ease-in-out;
              transform: scale(0.8);
          }
          &.mfp-bg {
              opacity: 0;
              transition: all 0.3s ease-out;
          }
          /* animate in */
          &.mfp-ready {
              .mfp-with-anim {
                  opacity: 1;
                  transform: scale(1);
              }
              &.mfp-bg {
                  opacity: 0.8;
              }
          }
          /* animate out */
          &.mfp-removing {
              .mfp-with-anim {
                  transform: scale(0.8);
                  opacity: 0;
              }
              &.mfp-bg {
                  opacity: 0;
              }
          }
      }


    /* 
    ====== Newspaper effect ======
    */
      .mfp-newspaper {
          /* start state */
          .mfp-with-anim {
              opacity: 0;
              -webkit-transition: all 0.2s ease-in-out;
              transition: all 0.5s;
              transform: scale(0) rotate(500deg);
          }
          &.mfp-bg {
              opacity: 0;
              transition: all 0.5s;
          }
          /* animate in */
          &.mfp-ready {
              .mfp-with-anim {
                  opacity: 1;
                  transform: scale(1) rotate(0deg);
              }
              &.mfp-bg {
                  opacity: 0.8;
              }
          }
          /* animate out */
          &.mfp-removing {
              .mfp-with-anim {
                  transform: scale(0) rotate(500deg);
                  opacity: 0;
              }
              &.mfp-bg {
                  opacity: 0;
              }
          }
      }


    /* 
    ====== Move-horizontal effect ======
    */
      .mfp-move-horizontal {
          /* start state */
          .mfp-with-anim {
              opacity: 0;
              transition: all 0.3s;
              transform: translateX(-50px);
          }
          &.mfp-bg {
              opacity: 0;
              transition: all 0.3s;
          }
          /* animate in */
          &.mfp-ready {
              .mfp-with-anim {
                  opacity: 1;
                  transform: translateX(0);
              }
              &.mfp-bg {
                  opacity: 0.8;
              }
          }
          /* animate out */
          &.mfp-removing {
              .mfp-with-anim {
                  transform: translateX(50px);
                  opacity: 0;
              }
              &.mfp-bg {
                  opacity: 0;
              }
          }
      }


    /* 
    ====== Move-from-top effect ======
    */
      .mfp-move-from-top {
          .mfp-content {
              vertical-align: middle;
          }
          /* start state */
          .mfp-with-anim {
              opacity: 0;
              transition: all 0.2s;
              transform: translateY(-100px);
          }
          &.mfp-bg {
              opacity: 0;
              transition: all 0.2s;
          }
          /* animate in */
          &.mfp-ready {
              .mfp-with-anim {
                  opacity: 1;
                  transform: translateY(0);
              }
              &.mfp-bg {
                  opacity: 0.8;
              }
          }
          /* animate out */
          &.mfp-removing {
              .mfp-with-anim {
                  transform: translateY(-50px);
                  opacity: 0;
              }
              &.mfp-bg {
                  opacity: 0;
              }
          }
      }


    /* 
    ====== 3d unfold ======
    */
      .mfp-3d-unfold {
          .mfp-content {
              perspective: 2000px;
          }
          /* start state */
          .mfp-with-anim {
              opacity: 0;
              transition: all 0.3s ease-in-out;
              transform-style: preserve-3d;
              transform: rotateY(-60deg);
          }
          &.mfp-bg {
              opacity: 0;
              transition: all 0.5s;
          }
          /* animate in */
          &.mfp-ready {
              .mfp-with-anim {
                  opacity: 1;
                  transform: rotateY(0deg);
              }
              &.mfp-bg {
                  opacity: 0.8;
              }
          }
          /* animate out */
          &.mfp-removing {
              .mfp-with-anim {
                  transform: rotateY(60deg);
                  opacity: 0;
              }
              &.mfp-bg {
                  opacity: 0;
              }
          }
      }


    /* 
    ====== Zoom-out effect ======
    */
      .mfp-zoom-out {
          /* start state */
          .mfp-with-anim {
              opacity: 0;
              transition: all 0.3s ease-in-out;
              transform: scale(1.3);
          }
          &.mfp-bg {
              opacity: 0;
              transition: all 0.3s ease-out;
          }
          /* animate in */
          &.mfp-ready {
              .mfp-with-anim {
                  opacity: 1;
                  transform: scale(1);
              }
              &.mfp-bg {
                  opacity: 0.8;
              }
          }
          /* animate out */
          &.mfp-removing {
              .mfp-with-anim {
                  transform: scale(1.3);
                  opacity: 0;
              }
              &.mfp-bg {
                  opacity: 0;
              }
          }
      }

    /*
    ====== "Hinge" close effect ======
    */
      @keyframes hinge {
          0% {
              transform: rotate(0);
              transform-origin: top left;
              animation-timing-function: ease-in-out;
          }
          20%,
          60% {
              transform: rotate(80deg);
              transform-origin: top left;
              animation-timing-function: ease-in-out;
          }
          40% {
              transform: rotate(60deg);
              transform-origin: top left;
              animation-timing-function: ease-in-out;
          }
          80% {
              transform: rotate(60deg) translateY(0);
              opacity: 1;
              transform-origin: top left;
              animation-timing-function: ease-in-out;
          }
          100% {
              transform: translateY(700px);
              opacity: 0;
          }
      }

      .hinge {
          animation-duration: 1s;
          animation-name: hinge;
      }

      .mfp-with-fade {
          // before-open state
          .mfp-content,
          &.mfp-bg {
              opacity: 0;
              transition: opacity .5s ease-out;
          }
          // open state
          &.mfp-ready {
              .mfp-content {
                  opacity: 1;
              }
              &.mfp-bg {
                  opacity: 0.8; // background opacity
              }
          }
          // closed state
          &.mfp-removing {
              &.mfp-bg {
                  opacity: 0;
              }
          }
      }

  //popup
    .mfp-bg{
      background: rgba(21, 21, 21, 0.6);
      opacity: 1;
    }

    .mfp-container{
      
      @media only screen and (max-width : 767px) {
        padding-left: 0;
        padding-right: 0; 
      }
    }

    .b-popup{
      .pr();
      .ma();
      padding: 65px 75px;
      max-width: 760px;
      background-color: @ffffff;
      .r(10px);
      .box-shadow(none);

      @media only screen and (max-width : 767px) {
        padding: 45px;
      }

      @media only screen and (max-width : 567px) {
        padding-left: 30px;
        padding-right: 30px;
      }

      &.b-popup-request{
        padding: 0;

        .u-form__head{
          padding: 65px 75px 55px;
          background-color: @fdb72a;
          margin-bottom: 0;
          .r4(10px, 10px, 0, 0);

          @media only screen and (max-width : 767px) {
            padding: 45px;
          }

          @media only screen and (max-width : 567px) {
            padding-left: 30px;
            padding-right: 30px;
          }

          p{
            font-family: @m100;
            font-size: 17px;
            line-height: 21px;
            font-weight: 100;
            color: @111111;
            margin-bottom: 47px;
          }
        }

        .u-form-title{
          margin-bottom: 30px;
        }
      }

      button.mfp-close{
        top: 45px;
        right: 45px;
        width: 30px;
        height: 30px;
        background: url(../img/svg/i-close.svg) center center no-repeat;      
        opacity: 1;
        font-size: 0;
        text-indent: -9999px;
        line-height: inherit;
        .transition(.2s ease);
        
        @media only screen and (max-width : 767px) {
          top: 15px;
          right: 15px;
        }

        &:active{
          top: 45px;
          right: 45px;

          @media only screen and (max-width : 767px) {
            top: 15px;
            right: 15px;
          }
        }

        &:hover{
          opacity: 0.7;
        }
      }
    }

      .u-form__head{
        .tac();
        margin-bottom: 30px;

        @media only screen and (max-width : 767px) {
          margin-bottom: 20px;
        }
      }

        .u-form__logo{
          .pr();
          margin: 0 auto 25px;
          width: 65px;
          height: 65px;
          .user-select(none);

          svg{
            .el-center();
          }
        }

          .u-form__logo__figure{
            .pr();
            width: 100%;
            height: 100%;
            overflow: hidden;
            .r(50%);
            background-color: rgba(17, 17, 17, 0.07);
            color: @111111;

            svg,
            img{
              .el-center();
            }
          }

          .u-form__logo__circle{
            .pa();
            right: -10px;
            bottom: -10px;
            width: 28px;
            height: 28px;
            .r(50%);
            background-color: @fdb72a;
            border: 4px solid @ffffff;
            z-index: 1;
            color: @111111;
          }

        .u-form-title{
          padding: 0;
          margin: 0;
          font-size: 35px;
          line-height: 45px;
          color: @111111;
          .tac();

          @media only screen and (max-width : 767px) {
            font-size: 30px;
            line-height: 40px;
          }

          @media only screen and (max-width : 567px) {
            font-size: 25px;
            line-height: 35px;
          }
        }

      .u-form__body{
      }

      .u-form-item{
      }
      
      .c-btn{

        &.u-btn-enter-site,
        &.u-btn-register{
          display: block;
          margin: 40px auto 0;
          max-width: 200px;
          width: 100%;
          padding-top: 19px;
          padding-bottom: 19px;
          height: 65px;
          .r(32px);
          color: @111111;

          @media only screen and (max-width : 767px) {
            margin-top: 15px;
          }

          @media only screen and (max-width : 567px) {
            max-width: 100%;
          }
        }
      }

      .u-enter-site__form{
        margin-bottom: 35px;
      }

      .u-enter-site__forgot{
        margin-bottom: 37px;
        .tac();
      }

        .u-enter-site__forgot__list{
          list-style: none;
          padding: 0;
          margin: 0 -3px;
          font-size: 0;

          li{
            padding: 0 3px;
            margin: 5px 0;
            display: inline-block;
            width: 50%;

            @media only screen and (max-width : 567px) {
              display: block;
              width: 100%;
            }

            a{
              padding: 22px 10px;
              display: block;
              height: 75px;
              font-family: @m300;
              font-size: 12px;
              line-height: 30px;
              font-weight: 300;
              color: @111111;
              background-color: @ececec;
              border: 1px solid @ececec;
              .r(10px);
              .ttu();
              .tac();

              @media only screen and (max-width : 567px) {
                padding-top: 14px;
                padding-bottom: 14px;
                height: 60px;
              }

              &:hover{
                background-color: transparent;
              }
            }
          }
        }

      .u-enter-site__sn{
        .tac();
        
        p{
          font-family: @m300;
          font-size: 17px;
          line-height: 21px;
          font-weight: 300;
          color: @111111;
          margin-bottom: 25px;
        }
      }

        .u-enter-site__share__list{
          list-style: none;
          padding: 0;
          margin: 0 -3px;
          font-size: 0;

          li{
            padding: 0 3px;
            margin: 5px 0;
            display: inline-block;
            vertical-align: top;
            width: 33.33%;

            a{
              .pr();
              padding: 22px 10px;
              display: block;
              height: 75px;
              color: @ffffff;
              background-color: @ececec;
              border: 1px solid @ececec;
              .r(10px);

              @media only screen and (max-width : 567px) {
                height: 60px;
              }

              &.u-link-facebook{
                background-color: @3b5998;
                border-color: @3b5998;

                &:hover{
                  color: @3b5998;
                  background-color: transparent;
                }
              }

              &.u-link-vk{
                background-color: @557ea9;
                border-color: @557ea9;

                &:hover{
                  color: @557ea9;
                  background-color: transparent;
                }
              }

              &.u-link-instagram{
                background-color: @cb007e;
                border-color: @cb007e;

                &:hover{
                  color: @cb007e;
                  background-color: transparent;
                }
              }

              svg{
                .el-center();
              }
            }
          }
        }

    .u-form__foot{
      padding: 60px 75px;
      .tac();

      @media only screen and (max-width : 767px) {
        padding: 45px;
      }

      @media only screen and (max-width : 567px) {
        padding-left: 30px;
        padding-right: 30px;
      }

      p{
        font-family: @m100;
        font-size: 17px;
        line-height: 30px;
        font-weight: 100;
        color: @111111;
        margin-bottom: 0;

        @media only screen and (max-width : 567px) {
          font-size: 15px;          
        }
      }

      a{
        font-family: @m100;
        font-size: 25px;
        line-height: 25px;
        font-weight: 100;
        color: @111111;
        border-bottom: 1px solid rgba(17, 17, 17, 0.1);

        @media only screen and (max-width : 567px) {
          font-size: 18px;
          line-height: 20px;
        }

        &:hover{
          border-bottom-color: rgba(17, 17, 17, 1);
        }
      }
    }

    .u-request__social__list{
      list-style: none;
      padding: 0;
      margin: 0;
      display: table;
      width: 100%;
      table-layout: fixed;

      li{
        display: table-cell;
        vertical-align: middle;
        padding: 0;
        margin-bottom: 10px;

        a{
          padding-top: 10px;
          padding-bottom: 10px;
          display: block;
          color: @111111;
          .r(10px);

          &:hover{
            
            .u-request__icon{
              color: @ffffff;
            }

            .u-request__name__link{
              color: @ffffff;
            }
          }

          &.is-link-instagram{

            &:hover{
              background: url(../img/icon/bg-inst.png) center no-repeat;
              background-size: cover;
            }
          }

          &.is-link-vk{
            
            &:hover{
              background: #4b6f9c;
            }
          }

          &.is-link-facebook{
            
            &:hover{
              background: #26478d;
            }
          }

          &.is-link-ok{
            
            &:hover{
              background: #ea7c2a;
            }
          }

          &.is-link-google{
            
            &:hover{
              background: #f05345;
            }
          }
        }
      }
    }

      .u-request__icon{
        .pr();
        margin: 0 auto;
        display: block;
        width: 40px;
        height: 40px;
        color: @111111;

        svg{
          .el-center();
        }
      }

      .u-request__name__link{
        margin-top: 27px;
        font-family: @m900;
        font-size: 11px;
        line-height: 20px;
        font-weight: 900;
        color: @111111;
        .ttu();

        @media only screen and (max-width : 567px) {
          display: none;
        }
      }

      .b-popup-add-to-cart{
        padding-top: 78px;

        .u-form-title{
          font-size: 25px;
          line-height: 35px;
        }

        p{
          font-size: 15px;
          line-height: 25px;
          color: rgba(17, 17, 17, 0.8);
          margin-bottom: 0;
        }
      }

        .u-add-to-cart__form{
          .tac();

          .c-btn{
            padding-top: 14px;
            padding-bottom: 14px;
            display: block;
          }
        }

        .u-add-to-cart__list{
          list-style: none;
          padding: 0;
          margin: 0 -2px 35px;
          font-size: 0;
          display: inline-block;
          width: 348px;

          @media only screen and (max-width : 567px) {
            width: 100%;
            margin-bottom: 15px;
          }

          li{
            display: inline-block;
            vertical-align: top;
            padding: 0 2px;
            margin: 5px 0;
            width: 50%;

            @media only screen and (max-width : 567px) {
              width: 100%;
              display: block;
            }

            a{
              display: block;              
            }
          }
        }

        .c-btn{

          &.u-link-continue{

          }

          &.u-link-go-to-basket{
            color: @111111;
          }
        }

    .b-popup-glossary__word{
      padding-top: 85px;

      .u-form__head{
        margin-bottom: 45px;

        @media only screen and (max-width : 767px) {
          margin-bottom: 30px;
        }
      }

      .mfp-img{
        display: none!important;
      }
    }

    .u-glossary__word__section{

      p{
        font-size: 17px;
        line-height: 35px;
        color: @111111;
        margin-bottom: 60px;

        @media only screen and (max-width : 767px) {
          font-size: 15px;
          line-height: 30px;
          margin-bottom: 30px;
        }
      }
    }

    .u-glossary__word__btn{
      margin-bottom: 40px;

      @media only screen and (max-width : 767px) {
        margin-bottom: 0;
      }

      ul{
        list-style: none;
        padding: 0;
        margin: 0 -3px;
        font-size: 0;

        li{
          display: inline-block;
          vertical-align: top;
          padding: 0 3px;
          margin: 5px 0;
          width: 50%;

          a{
            display: block;
            padding: 47px 10px 38px;
            font-size: 18px;
            line-height: 30px;
            background-color: @ececec;
            color: @111111;
            .tac();
            .user-select(none);

            @media only screen and (max-width : 567px) {
              padding-top: 20px;
              padding-bottom: 20px;
            }

            &:hover{
              background: rgb(253,183,42);
              background: -moz-linear-gradient(left,  rgba(253,183,42,1) 0%, rgba(255,144,24,1) 100%);
              background: -webkit-linear-gradient(left,  rgba(253,183,42,1) 0%,rgba(255,144,24,1) 100%);
              background: linear-gradient(to right,  rgba(253,183,42,1) 0%,rgba(255,144,24,1) 100%);
              filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdb72a', endColorstr='#ff9018',GradientType=1 );
            }
          }

          svg{
            
          }

          span{
            margin-top: 5px;
            display: block;

            @media only screen and (max-width : 567px) {
              display: none;
            }
          }
        }
      }
    }


  .b-popup-seo{

    p{
      font-size: 17px;
      line-height: 35px;        
      color: @111111;

      @media only screen and (max-width : 767px) {
        font-size: 15px;
        line-height: 30px;
      }
    }
  }