@import "../mix.less";
@import "../variables.less";
/*------------------------------------------------------------*/
/* XX - MAIN BOOK */
/*------------------------------------------------------------*/
  .c-main__book{
    padding: 65px 0 40px;

    @media only screen and (max-width : 1023px) {
      padding-top: 35px;
    }

    p{
      font-family: @m300;
      font-size: 17px;
      line-height: 25px;
      font-weight: 300;
      color: @9e4b14;
      margin-bottom: 30px;

      @media only screen and (max-width : 1023px) {
        font-size: 16px;
      }
    }

    img{
      max-width: 100%;
      height: auto;

      &.u-img-book-title{

      }

      &.u-img-book{
        .pa();
        top: -265px;
        right: -213px;
        pointer-events: none;
        
        @media only screen and (max-width : 1199px) {
          top: -165px;
          right: -160px;
        }

        @media only screen and (max-width : 1023px) {
          .pr();
          top: auto;
          right: auto;
          margin-bottom: 30px;
        }
      }
    }
  }

    .u-img-book__row{
      .pr();
      padding-right: 40%;

      @media only screen and (max-width : 1023px) {
        padding-right: 0;
        margin-top: -70px;
      }
    }

    .c-main__book__section{
      padding: 125px 0;
      background: rgb(253,183,42);
      background: -moz-linear-gradient(left,  rgba(253,183,42,1) 0%, rgba(255,147,6,1) 100%);
      background: -webkit-linear-gradient(left,  rgba(253,183,42,1) 0%,rgba(255,147,6,1) 100%);
      background: linear-gradient(to right,  rgba(253,183,42,1) 0%,rgba(255,147,6,1) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdb72a', endColorstr='#ff9306',GradientType=1 );
      .r(10px);
      .tac();

      @media only screen and (max-width : 1023px) {
        padding-top: 30px;
        padding-bottom: 50px;
      }
    }

      .c-main__book__title{
        font-family: @r;
        font-size: 35px;
        line-height: 60px;
        font-weight: 300;
        color: @0d0d0d;
        margin-bottom: 10px;

        @media only screen and (max-width : 1023px) {
          font-size: 30px;
        }

        i{
          font-size: 50px;
          font-style: normal;

          @media only screen and (max-width : 1023px) {
            font-size: 40px;
          }
        }
      }

      .u-btn-book{
        padding-top: 19px;
        padding-bottom: 19px;
        width: 200px;
        height: 65px;
        .r(32px);
      }