@import "../mix.less";
@import "../variables.less";
/*------------------------------------------------------------*/
/* XX - MAIN ABOUT */
/*------------------------------------------------------------*/
  .c-main__about{
    .pr();
    background-color: @f7f7f7;
    z-index: 1;
    .transform(skew(0deg, -2deg));
    overflow: hidden;
    margin-bottom: 30px;

    @media only screen and (max-width : 767px) {
      margin-bottom: 0;
    }

    &:after{
      content: '';
      .pa();
      left: 50%;
      top: -100px;
      bottom: -100px;
      width: 1px;
      background-color: rgba(13, 13, 13, 0.07);
      z-index: -1;
    }

    h1,
    .b-h1{
      font-family: @m100;
      font-size: 40px;
      line-height: 64px;
      font-weight: 100;
      color: @111111; 
      margin-bottom: 0;
      .tar();

      @media only screen and (max-width : 1023px) {
        font-size: 25px;
        line-height: 40px;
        .tac();
        margin-bottom: 40px;
      }
    }

    p{
      font-family: @m100;
      font-size: 17px;
      line-height: 35px;
      font-weight: 100;
      color: @111111;
      margin-bottom: 0;

      @media only screen and (max-width : 1023px) {
        font-size: 16px;
        line-height: 30px;
      }
    }

    .c-main__about__blockquote{
      .pr();
      padding: 40px 40px 40px 40px;
      margin-left: 65px;

      @media only screen and (max-width : 1559px) {
        margin-left: 0;
      }

      @media only screen and (max-width : 1023px) {
        padding: 0;
      }
      
      p{
        margin-left: 37px;
        display: inline-block;
        vertical-align: middle;

        @media only screen and (max-width : 1023px) {
          margin-left: 0;
        }
      }
    }
  }

    .c-main__about__skew{
      padding: 217px 0 200px;
      .transform(skew(0deg, 2deg));

      @media only screen and (max-width : 1023px) {
        padding-top: 65px;
        padding-bottom: 70px;
      }

      @media only screen and (max-width : 767px) {
        padding-top: 50px;
        padding-bottom: 50px;
      }
    }

    .c-main__about__photo__row{
      .pr();
      max-width: 280px;
      max-height: 280px;

      @media only screen and (max-width : 1023px) {
        max-width: 200px;
        max-height: 200px;
        margin: 0 auto 35px;
      }

      &:before{
        content: '';
        .pa();
        top: 30px;
        left: -20px;
        padding: 0;
        margin: 0;
        width: 65px;
        height: 40px;
        background: url(../img/svg/i-quotes.svg) center no-repeat;
        background-size: cover;
        z-index: 1;

        @media only screen and (max-width : 1023px) {
          top: 22px;
          left: -17px;
          width: 46px;
          height: 28px;
        }
      }
    }

    .c-main__about__photo{
      // .pa();
      // top: 5px;
      // left: 0;
      .pr();
      display: inline-block;
      vertical-align: middle;
      .r(50%);
      max-width: 100%;
      max-height: 100%;
      overflow: hidden;

      @media only screen and (max-width : 1023px) {
        display: block;
      }

      img{
        //.el-center();
        max-width: 100%;
        height: auto;
      }
    }