@import "../mix.less";
@import "../variables.less";
/*------------------------------------------------------------*/
/* XX - SEARCH */
/*------------------------------------------------------------*/
  .c-search{

    .u-form-search{
      margin-bottom: 30px;

      .u-input-style{
        color: @111111;
        border-bottom-color: @111111;

        &.u-not-valid{
          border-bottom-color: #cc0000;

          &:focus{
            border-bottom-color: @111111;
          }
        }

        .placeholder({
          color: @111111;
        });
      }
    }

    .u-btn-search{
      color: @111111;
    }
  }

    .c-search__head{
      padding-top: 55px;
      padding-bottom: 45px;
      .tac();

      @media only screen and (max-width : 767px) {
        padding-top: 35px;
        padding-bottom: 30px;
      }

      h1,
      .b-h1{
        font-family: @m100;
        font-size: 35px;
        line-height: 45px;
        font-weight: 100;
        color: @ffffff;

        @media only screen and (max-width : 767px) {
          font-size: 30px;
          line-height: 35px;
        }
      }
    }

    .c-search__result__row{
      margin-bottom: 60px;
    }

      .c-search__result__item{
        .pr();
        padding-left: 60px;
        counter-increment: item;
        margin-bottom: 30px;

        &:before{
          display: block;
          .pa();
          top: 0;
          left: 0;
          width: 50px;
          content: counter(item) '.';
          font-family: @m700;
          font-size: 18px;
          line-height: 30px;
          font-weight: 700;
          color: @111111;
          .tar();
        }

        p{
          font-family: @m100;
          font-size: 17px;
          line-height: 30px;
          font-weight: 100;
          color: @111111;
        }

        a{
          color: @111111;
          border-bottom: 1px solid rgba(17, 17, 17, 0.3);
          &:hover{
            color: @111111;
            border-bottom-color: rgba(17, 17, 17, 1);
          }
        }
      }