@import "../mix.less";
@import "../variables.less";
/*------------------------------------------------------------*/
/* XX - SELECT */
/*------------------------------------------------------------*/
  .u-select-section{

    .select2-container{
      width: 100%;
    }

    // &.u-not-valid{
    //   .select2-container--default .select2-selection--single{
    //     border-color: #db1629;
    //   }

    //   .select2-container--default .select2-selection--single .select2-selection__rendered{
    //     color: #db1629;
    //   }

    //   .select2-container--default .select2-selection--single .select2-selection__arrow b{
    //       border-color: #db1629;
    //   }
    // }

    .select2-container--default .select2-selection--single{
      background-color: @ffffff;
      border: 0;
      border-bottom: 1px solid rgba(17, 17, 17, 0.1);
      .r(0);
      outline: none;
      height: 50px;
      .transition(.2s ease);
      .box-shadow(none);
    }

    .select2-container--default .select2-selection--single .select2-selection__rendered{
      font-family: @m100;
      font-size: 20px;
      line-height: 30px;
      font-weight: 100;
      color: @111111;
      padding: 0 50px 0 0;
      height: 50px;
      .tal();
    }

    .select2-container--default .select2-selection--single .select2-selection__arrow{
      width: 50px;
      height: auto;
      top: 1px;
      bottom: 1px;
      right: 0;
      border: 0;
    }

    .select2-container--default .select2-selection--single .select2-selection__arrow b{
      // border-color: #4a4a4a transparent transparent transparent;
      // border-style: solid;
      // border-width: 4px 3px 0 3px;
      border: 0;
      left: 50%;
      margin-left: -3px;
      margin-top: -5px;
      position: absolute;
      top: 50%;
      width: 10px;
      height: 6px;
      background: url(../img/svg/i-arrow-bottom.svg) center no-repeat;
      opacity: .3;
    }

    .select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b{
      margin-top: -3px;
      .transform(rotate(-180deg));
    }
  }

  .u-html-select-init{
    margin-top: 0;
    border-color: transparent;    
    background-color: @ffffff;
    z-index: 9999;
    .r(0);
    border: 0;
    .box-shadow(none);
    .pr();

    .select2-results{
    }
    
    .select2-results > .select2-results__options{
      padding: 0;
      max-height: 180px;
      border: 1px solid @fdb72a;
    }

    .select2-results__option{
      font-family: @m100;
      font-size: 17px;
      line-height: 25px;
      font-weight: 100;
      padding: 5px 10px;
      color: @111111;
      .tal();
    }

    .select2-results__option[aria-disabled=true] {
      display: none;
    }

    .select2-results__option[aria-selected=true]{
      background-color: @fdb72a;
      color: #ffffff;
    }

    .select2-results__option--highlighted[aria-selected]{
      background-color: @fdb72a;
      color: #ffffff;
    }
  }