@import "../mix.less";
@import "../variables.less";
/*------------------------------------------------------------*/
/* XX - TEST & TEST DETAIL  */
/*------------------------------------------------------------*/
  .c-test{
    
  }

  .u-page-inner{
    .pr();
    padding-top: 135px;
    margin-bottom: 70px;

     @media only screen and (max-width: 1199px){
      padding-top: 115px;
    }

    @media only screen and (max-width : 1023px) {
      padding-top: 70px;
    }
  }

  .c-test-detail{
    padding-top: 30px;
    padding-bottom: 100px;

    @media only screen and (max-width : 1023px) {
      padding-bottom: 80px;
    }

    @media only screen and (max-width : 767px) {
      padding-bottom: 40px;
    }

    .u-style-box{
      padding: 0;

      &:after{
        background-color: rgba(255, 255, 255, 0.55);
      }
    }
  }

    .c-test-detail__test{

       .u-head__style__box{

        &:before{
          background-color: @111111;
        }

        h1,
        .b-h1{
          color: @111111;
        }
      }
    }

  .c-test-detail_back{
    padding: 0 100px 30px;

    @media only screen and (max-width : 1023px){
      padding-left: 0;
      padding-right: 0;
    }

    .c-logo__mobile{
      @media only screen and (max-width : 1023px){
        .pr();
        top: 0;
      }
    }
  }

    .u-link-test__back{
      font-family: @m100;
      font-size: 12px;
      font-weight: 400;
      color: rgba(255, 255, 255, 0.55);
      .ttu();

      @media only screen and (max-width : 1023px){
        display: none;
      }

      &:hover{
        color: rgba(255, 255, 255, 1);
      }

      svg,
      span{
        display: inline-block;
        vertical-align: middle;
      }

      svg{
        margin-right: 20px;
      }
    }

  .u-wd-740{
    max-width: 740px;
    margin: 0 auto;
  }

    .u-style-box__test__head{
      .pr();
      padding-left: 15px;
      padding-right: 15px;
      min-height: 650px;      
      z-index: 0;

      @media only screen and (max-width : 1023px) {
        padding-left: 25px;
        padding-right: 25px;
        padding-top: 500px;
      }

      @media only screen and (max-width : 767px) {
        min-height: inherit;
        padding-top: 300px;
      }

      @media only screen and (max-width : 374px) {
        padding-left: 15px;
        padding-right: 15px;
      }

      p{
        color: @ffffff;
      }
    }

    .u-style-box__test__photo{
      .pa();
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      z-index: -1;

      @media only screen and (max-width : 1023px) {
        height: 500px;
      }

      @media only screen and (max-width : 767px) {
        height: 300px;
      }

      &:before{
        content: '';
        .pa();
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(13, 13, 13, 0.25);
        z-index: -1;
      }

      .u-section__label{
        left: 0;
        right: 0;
        top: auto;
        margin: auto;
        bottom: -25px;
        padding: 5px;
        width: 50px;
        height: 50px;
        z-index: 1;
      }
    }

    .u-style-box__height{
      min-height: 650px;

      @media only screen and (max-width : 1023px){
        min-height: auto;
        padding-top: 50px;
      }
    }

    .c-test-detail__box{
      .tac();
      padding-bottom: 50px;

      @media only screen and (max-width : 1023px){
        padding-bottom: 0;
      }

      &.u-articles-detail-pay__box{

        .u-head__style__box{
          // margin-top: 0;

          &:before{
            content: none;
          }
        }

        .u-btn-product-buy{
          margin-bottom: 30px;
        }
      }

      .u-head__style__box{

        @media only screen and (max-width : 1023px){
          margin-top: 0;
          padding-top: 0;
        }
        
        h1,
        .b-h1{

          @media only screen and (max-width : 1023px){
            color: @111111;
          }
        }
      }

      .u-btn-product-price{
        
        @media only screen and (max-width : 1023px){
          color: @111111;
        }
      }

      small{
        display: block;
        font-family: @m300;
        font-size: 12px;
        line-height: 20px;
        font-weight: 300;
        color: @fdb72a;
        .ttu();
      }

      p{
        font-size: 20px;
        line-height: 30px;
        font-weight: 100;
        margin-bottom: 10px;

        @media only screen and (max-width : 1023px){          
          font-size: 18px;
          line-height: 25px;
          color: @111111;
        }
      }
    }

      .u-head__style__box{
        .pr();
        margin-top: 45px;
        padding-top: 35px;

        @media only screen and (max-width : 767px) {
          margin-top: 30px;
        }

        &:before{
          content: '';
          .pa();
          top: 0;
          left: 0;
          right: 0;
          margin: auto;
          width: 30px;
          height: 2px;
          background-color: @ffffff;
        }

        h1,
        .b-h1{
          font-size: 35px;
          line-height: 45px;

          @media only screen and (max-width : 1023px){
            font-size: 30px;
            line-height: 35px;
          }
        }
      }

    .u-style-box__test__foot{
      padding: 85px 25px;

      @media only screen and (max-width : 1023px){
        padding-top: 50px;
        padding-bottom: 50px;
      }

      @media only screen and (max-width : 767px){
        padding-top: 30px;
        padding-bottom: 30px;
      }

      @media only screen and (max-width : 567px){
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 15px;
      }

      p{
        font-family: @m100;
        font-size: 17px;
        line-height: 35px;
        color: @111111;
        .tal();
        margin-bottom: 60px;

        @media only screen and (max-width : 767px){
          font-size: 15px;
          line-height: 30px;
          margin-bottom: 30px;
        }
      }
    }
    
    .c-btn{

      &.u-link-test-pass-again{
        max-width: 200px;
        width: 100%;
        padding-top: 19px;
        padding-bottom: 19px;
        height: 65px;
        .r(32px);
        color: @111111;
      }
    }

    .c-test-detail_share{
      margin-top: 62px;
      margin-bottom: 65px;
      .tac();

      @media only screen and (max-width : 767px){
        margin-top: 30px;
        margin-bottom: 30px;
      }
    }

      .u-share__title{
        font-family: @m900;
        font-size: 12px;
        line-height: 20px;
        font-weight: 900;
        color: @111111;
        .ttu();
        margin-bottom: 44px;

        @media only screen and (max-width : 767px){
          margin-bottom: 30px;
        }

        svg,
        span{
          display: inline-block;
          vertical-align: middle;
        }

        svg{
          margin-right: 10px;
        }
      }

      .u-share__list{
        list-style: none;
        padding: 0;
        margin: 0;
        
        li{
          padding: 0;
          margin: 0 1px 5px;
          display: inline-block;
          vertical-align: top;

          &:before,
          &:after{
            content: none;
          }

          a{
            display: block;            
            width: 120px;
            height: 40px;
            padding: 9px 5px;
            border: 1px solid @fdb72a;
            .r(20px);
            font-family: @m100;
            font-size: 14px;
            line-height: 20px;
            font-weight: 100;
            color: @111111;

            &:hover{
              color: @ffffff;

              &.u-link-facebook{
                border-color: @3b569d;
                background-color: @3b569d;
              }

              &.u-link-twitter{
                border-color: @1ab2e8;
                background-color: @1ab2e8;
              }

              &.u-link-vk{
                border-color: @4d7eb5;
                background-color: @4d7eb5;
              }

              &.u-link-ok{
                border-color: @ea7704;
                background-color: @ea7704;
              }
            }

            svg{
              display: inline-block;
              vertical-align: middle;
              margin-right: 5px;
            }

            i{
              display: inline-block;
              vertical-align: middle;
              font-style: normal;
            }
          }
        }
      }

    .c-test-detail__post{
      margin-left: -3px;
      margin-right: -3px;
    }

      .c-test-detail__post__item{
        padding-left: 3px;
        padding-right: 3px;
        margin-bottom: 10px;

        &:nth-child(2n){

          .c-test-detail__post__flex{
            justify-content: flex-end;
          }

          .c-test-detail__post__arrow{            
            margin-left: 55px;
            margin-right: 0;

            @media only screen and (max-width : 767px) {
              margin-left: 15px;
            }
          }

          .c-test-detail__post__photo{
            margin-left: 20px;
            margin-right: 0;
          }

          .u-articles-detail__comments__post{
            margin-left: 0;
            margin-right: auto;
          }

          .c-test-detail__post__name{
            .tar();
          }
        }
      }

        .c-test-detail__post__article{
          display: block;
          padding: 15px 55px;
          background-color: @ececec;

          @media only screen and (max-width : 767px) {
            padding-left: 15px;
            padding-right: 15px;
          }

          &:hover{
            background: rgb(253,183,42);
            background: -moz-linear-gradient(left,  rgba(253,183,42,1) 0%, rgba(255,144,24,1) 100%);
            background: -webkit-linear-gradient(left,  rgba(253,183,42,1) 0%,rgba(255,144,24,1) 100%);
            background: linear-gradient(to right,  rgba(253,183,42,1) 0%,rgba(255,144,24,1) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdb72a', endColorstr='#ff9018',GradientType=1 );

            .u-articles-detail__comments__post{

              i{
                background-color: @ffffff;
              }
            }
          }
        }

        .c-test-detail__post__flex{
          display: flex;
          align-items: center;
          justify-content: flex-start;
          min-height: 115px;
        }

  .u-wd-1280{
    max-width: 1280px;
    margin: 0 auto;
  }

    .c-test-detail__post__arrow{
      margin-right: 55px;

      @media only screen and (max-width : 767px) {
        margin-right: 15px;
      }
    }

    .c-test-detail__post__photo{
      .pr();
      width: 65px;
      height: 65px;
      flex: 0 0 65px;
      overflow: hidden;
      .r(50%);
      margin-right: 20px;

      @media only screen and (max-width : 567px) {
        display: none;
      }

      &:before{
        content: '';
        .pa();
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(13, 13, 13, 0,1);
      }

      img{
        .el-center();
      }
    }

    .c-test-detail__post__name{
      font-family: @m100;
      font-size: 16px;
      line-height: 20px;
      font-weight: 100;
      color: @111111;
      word-wrap: break-word;
      overflow: hidden;
      hyphens: auto;
    }

    .u-articles-detail__comments__post{
      .pr();
      display: inline-block;
      vertical-align: middle;
      width: 26px;
      height: 26px;
      color: @0d0d0d;
      flex: 0 0 26px;
      margin-left: auto;

      i{
        .pa();
        top: -7px;
        right: -7px;
        display: block;
        width: 20px;
        height: 20px;
        .r(50%);
        font-style: normal;
        font-family: @m500;
        font-size: 11px;
        line-height: 20px;
        font-weight: 500;
        color: @111111;
        background-color: @fdb72a;
        .tac();
        z-index: 1;
      }
    }

  .c-test-detail__question{
    margin-bottom: 70px;

    @media only screen and (max-width : 1023px) {
      margin-bottom: 50px;
    }
  }

    .u-test-question{
      display: inline-block;
      vertical-align: top;
      padding: 5px 18px;
      font-family: @m300;
      font-size: 11px;
      line-height: 15px;
      font-weight: 300;
      color: @111111;
      .ttu();
      background-color: @ececec;
      .r(12px);
    }

    .c-test-detail__box__test{
      padding: 75px 15px;

      @media only screen and (max-width : 767px) {
        padding-top: 30px;
        padding-bottom: 30px;
      }

      .u-head__style__box{
        margin-bottom: 55px;

        @media only screen and (max-width : 1023px) {
          padding-top: 30px;
        }
      }
    }

    .u-radio__test__list{
      list-style: none;
      padding: 0;
      margin: 0;
      font-size: 0;
      max-width: 500px;
      margin: 0 auto 70px;

      li{
        padding: 0;
        margin: 0;
        width: 50%;
        display: inline-block;
        vertical-align: top;
      }
    }

      .u-radio__test__label{
        display: block;
        padding: 0;
        margin: 0;
        .cur();
        .user-select(none);
      }

        .u-radio__test__input{
          display: none;

          &:not(:checked) + .u-radio__test__section{
            .box-shadow(0px 0px 0px 1px #e7e7e7);

            .u-radio__test__box{
              color: transparent;
            }
          }

          &:checked + .u-radio__test__section{
            .box-shadow(0px 0px 0px 1px #fcc453);

            .u-radio__test__box{
              color: #fcc453;
            }
          }
        }

        .u-radio__test__section{
          display: block;
          .pr();
          height: 145px;          
          .box-shadow(inset 0px 0px 0px 1px #e7e7e7);

          @media only screen and (max-width : 1023px) {
            height: 110px;
          }
        }

          .u-radio__test__box{
            .pa();
            top: 30px;
            right: 30px;
            width: 13px;
            height: 9px;
            color: transparent;

            svg{
              .el-center();
            }
          }

          .u-radio__test__name{
            .pa();
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-family: @m100;
            font-size: 18px;
            line-height: 30px;
            font-weight: 100;
            color: @111111;

            @media only screen and (max-width : 1023px) {
              font-size: 17px;
            }
          }