@import "../mix.less";
@import "../variables.less";
/*------------------------------------------------------------*/
/* XX - VEBINAR */
/*------------------------------------------------------------*/
  .c-inner__head{

    &.u-inner__vebinar{

      @media only screen and (max-width: 1023px){
        padding-bottom: 250px;
      }

      h1,
      .b-h1{
        margin-bottom: 0;
      }
    }

    &:before{
      content: '';
      .pa();
      left: 0;
      bottom: -130px;
      right: 0;
      height: 100px;
      background-color: @0d0d0d;
      .transform(skew(0deg, -2deg));
    }
  }

  .c-vebinar{
    .pr();
    padding: 80px 0;
    z-index: 1;
    margin-top: -275px;

    @media only screen and (max-width : 1023px) {
      margin-top: -250px;
      padding-top: 50px;
    }

    @media only screen and (max-width : 767px) {
      padding-top: 30px;
      padding-bottom: 30px;
    }
  }

    .c-vebinar__section{

      .u-item{
        margin-bottom: 50px;

        @media only screen and (max-width : 1023px) {
          margin-bottom: 30px;
        }
      }
    }