﻿@font-face {
  font-family: 'Museo Sans Cyrl 100';
  font-display: auto;
  src: url('MuseoSansCyrl-100.eot');
  src: url('MuseoSansCyrl-100.eot?#iefix') format('embedded-opentype'),
      url('MuseoSansCyrl-100.woff2') format('woff2'),
      url('MuseoSansCyrl-100.woff') format('woff'),
      url('MuseoSansCyrl-100.ttf') format('truetype'),
      url('MuseoSansCyrl-100.svg#MuseoSansCyrl-100') format('svg');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Museo Sans Cyrl 300';
  font-display: auto;
  src: url('MuseoSansCyrl-300.eot');
  src: url('MuseoSansCyrl-300.eot?#iefix') format('embedded-opentype'),
      url('MuseoSansCyrl-300.woff2') format('woff2'),
      url('MuseoSansCyrl-300.woff') format('woff'),
      url('MuseoSansCyrl-300.ttf') format('truetype'),
      url('MuseoSansCyrl-300.svg#MuseoSansCyrl-300') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: 'Museo Sans Cyrl 500';
    font-display: auto;
    src: url('MuseoSansCyrl-500.eot');
    src: url('MuseoSansCyrl-500.eot?#iefix') format('embedded-opentype'),
        url('MuseoSansCyrl-500.woff2') format('woff2'),
        url('MuseoSansCyrl-500.woff') format('woff'),
        url('MuseoSansCyrl-500.ttf') format('truetype'),
        url('MuseoSansCyrl-500.svg#MuseoSansCyrl-500') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Museo Sans Cyrl 700';
    src: url('MuseoSansCyrl-700.eot');
    src: url('MuseoSansCyrl-700.eot?#iefix') format('embedded-opentype'),
        url('MuseoSansCyrl-700.woff2') format('woff2'),
        url('MuseoSansCyrl-700.woff') format('woff'),
        url('MuseoSansCyrl-700.ttf') format('truetype'),
        url('MuseoSansCyrl-700.svg#MuseoSansCyrl-700') format('svg');
    font-weight: 700;
    font-style: normal;
}

@font-face {
  font-family: 'Museo Sans Cyrl 900';
  font-display: auto;
  src: url('MuseoSansCyrl-900.eot');
  src: url('MuseoSansCyrl-900.eot?#iefix') format('embedded-opentype'),
      url('MuseoSansCyrl-900.woff2') format('woff2'),
      url('MuseoSansCyrl-900.woff') format('woff'),
      url('MuseoSansCyrl-900.ttf') format('truetype'),
      url('MuseoSansCyrl-900.svg#MuseoSansCyrl-900') format('svg');
  font-weight: bold;
  font-style: normal;
}